openapi: 3.0.0
info:
  title: Schematic accesstokens companies API
  version: '0.1'
  description: Schematic API
  x-rules-engine-schema-version: v97288f60
servers:
- url: https://api.schematichq.com
security:
- ApiKeyAuth: []
tags:
- name: companies
paths:
  /companies:
    get:
      operationId: listCompanies
      summary: List companies
      tags:
      - companies
      parameters:
      - name: credit_type_ids
        in: query
        description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
        schema:
          type: array
          description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
          items:
            type: string
          maxItems: 100
      - name: has_scheduled_downgrade
        in: query
        description: Filter companies that have a pending scheduled downgrade
        schema:
          type: boolean
          description: Filter companies that have a pending scheduled downgrade
      - name: ids
        in: query
        description: Filter companies by multiple company IDs (starts with comp_)
        schema:
          type: array
          description: Filter companies by multiple company IDs (starts with comp_)
          items:
            type: string
          maxItems: 100
      - name: monetized_subscriptions
        in: query
        description: Filter companies that have monetized subscriptions
        schema:
          type: boolean
          description: Filter companies that have monetized subscriptions
      - name: plan_id
        in: query
        description: Filter companies by plan ID (starts with plan_)
        schema:
          type: string
          description: Filter companies by plan ID (starts with plan_)
      - name: plan_ids
        in: query
        description: Filter companies by one or more plan IDs (each ID starts with plan_)
        schema:
          type: array
          description: Filter companies by one or more plan IDs (each ID starts with plan_)
          items:
            type: string
          maxItems: 100
      - name: plan_version_id
        in: query
        description: Filter companies by plan version ID (starts with plvr_)
        schema:
          type: string
          description: Filter companies by plan version ID (starts with plvr_)
      - name: q
        in: query
        description: Search for companies by name, keys or string traits
        schema:
          type: string
          description: Search for companies by name, keys or string traits
          maxLength: 512
      - name: sort_order_column
        in: query
        description: Column to sort by (e.g. name, created_at, last_seen_at)
        schema:
          type: string
          description: Column to sort by (e.g. name, created_at, last_seen_at)
          maxLength: 255
      - name: sort_order_direction
        in: query
        description: Direction to sort by (asc or desc)
        schema:
          allOf:
          - $ref: '#/components/schemas/SortDirection'
          description: Direction to sort by (asc or desc)
      - name: subscription_statuses
        in: query
        description: Filter companies by one or more subscription statuses
        schema:
          type: array
          description: Filter companies by one or more subscription statuses
          items:
            $ref: '#/components/schemas/SubscriptionStatus'
          maxItems: 100
      - name: subscription_types
        in: query
        description: Filter companies by one or more subscription types
        schema:
          type: array
          description: Filter companies by one or more subscription types
          items:
            $ref: '#/components/schemas/SubscriptionType'
          maxItems: 100
      - name: with_entitlement_for
        in: query
        description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
        schema:
          type: string
          description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
      - name: without_feature_override_for
        in: query
        description: Filter out companies that already have a company override for the specified feature ID
        schema:
          type: string
          description: Filter out companies that already have a company override for the specified feature ID
      - name: without_plan
        in: query
        description: Filter out companies that have a plan
        schema:
          type: boolean
          description: Filter out companies that have a plan
      - name: without_subscription
        in: query
        description: Filter out companies that have a subscription
        schema:
          type: boolean
          description: Filter out companies that have a subscription
      - name: with_subscription
        in: query
        description: Filter companies that have a subscription
        schema:
          type: boolean
          description: Filter companies that have a subscription
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyDetailResponseData'
                    title: ListCompaniesResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      credit_type_ids:
                        type: array
                        description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
                        items:
                          type: string
                        maxItems: 100
                      has_scheduled_downgrade:
                        type: boolean
                        description: Filter companies that have a pending scheduled downgrade
                      ids:
                        type: array
                        description: Filter companies by multiple company IDs (starts with comp_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      monetized_subscriptions:
                        type: boolean
                        description: Filter companies that have monetized subscriptions
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter companies by plan ID (starts with plan_)
                      plan_ids:
                        type: array
                        description: Filter companies by one or more plan IDs (each ID starts with plan_)
                        items:
                          type: string
                        maxItems: 100
                      plan_version_id:
                        type: string
                        description: Filter companies by plan version ID (starts with plvr_)
                      q:
                        type: string
                        description: Search for companies by name, keys or string traits
                        maxLength: 512
                      sort_order_column:
                        type: string
                        description: Column to sort by (e.g. name, created_at, last_seen_at)
                        maxLength: 255
                      sort_order_direction:
                        allOf:
                        - $ref: '#/components/schemas/SortDirection'
                        description: Direction to sort by (asc or desc)
                      subscription_statuses:
                        type: array
                        description: Filter companies by one or more subscription statuses
                        items:
                          $ref: '#/components/schemas/SubscriptionStatus'
                        maxItems: 100
                      subscription_types:
                        type: array
                        description: Filter companies by one or more subscription types
                        items:
                          $ref: '#/components/schemas/SubscriptionType'
                        maxItems: 100
                      with_entitlement_for:
                        type: string
                        description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
                      with_subscription:
                        type: boolean
                        description: Filter companies that have a subscription
                      without_feature_override_for:
                        type: string
                        description: Filter out companies that already have a company override for the specified feature ID
                      without_plan:
                        type: boolean
                        description: Filter out companies that have a plan
                      without_subscription:
                        type: boolean
                        description: Filter out companies that have a subscription
                    title: ListCompaniesParams
                required:
                - data
                - params
                title: ListCompaniesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: upsertCompany
      summary: Upsert company
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertCompanyParams
                required:
                - data
                - params
                title: UpsertCompanyResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/{company_id}:
    get:
      operationId: getCompany
      summary: Get company
      tags:
      - companies
      parameters:
      - name: company_id
        in: path
        description: company_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetCompanyParams
                required:
                - data
                - params
                title: GetCompanyResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteCompany
      summary: Delete company
      tags:
      - companies
      parameters:
      - name: company_id
        in: path
        description: company_id
        required: true
        schema:
          type: string
      - name: cancel_subscription
        in: query
        schema:
          type: boolean
      - name: prorate
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeleteResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      cancel_subscription:
                        type: boolean
                      prorate:
                        type: boolean
                    title: DeleteCompanyParams
                required:
                - data
                - params
                title: DeleteCompanyResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/count:
    get:
      operationId: countCompanies
      summary: Count companies
      tags:
      - companies
      parameters:
      - name: credit_type_ids
        in: query
        description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
        schema:
          type: array
          description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
          items:
            type: string
          maxItems: 100
      - name: has_scheduled_downgrade
        in: query
        description: Filter companies that have a pending scheduled downgrade
        schema:
          type: boolean
          description: Filter companies that have a pending scheduled downgrade
      - name: ids
        in: query
        description: Filter companies by multiple company IDs (starts with comp_)
        schema:
          type: array
          description: Filter companies by multiple company IDs (starts with comp_)
          items:
            type: string
          maxItems: 100
      - name: monetized_subscriptions
        in: query
        description: Filter companies that have monetized subscriptions
        schema:
          type: boolean
          description: Filter companies that have monetized subscriptions
      - name: plan_id
        in: query
        description: Filter companies by plan ID (starts with plan_)
        schema:
          type: string
          description: Filter companies by plan ID (starts with plan_)
      - name: plan_ids
        in: query
        description: Filter companies by one or more plan IDs (each ID starts with plan_)
        schema:
          type: array
          description: Filter companies by one or more plan IDs (each ID starts with plan_)
          items:
            type: string
          maxItems: 100
      - name: plan_version_id
        in: query
        description: Filter companies by plan version ID (starts with plvr_)
        schema:
          type: string
          description: Filter companies by plan version ID (starts with plvr_)
      - name: q
        in: query
        description: Search for companies by name, keys or string traits
        schema:
          type: string
          description: Search for companies by name, keys or string traits
          maxLength: 512
      - name: sort_order_column
        in: query
        description: Column to sort by (e.g. name, created_at, last_seen_at)
        schema:
          type: string
          description: Column to sort by (e.g. name, created_at, last_seen_at)
          maxLength: 255
      - name: sort_order_direction
        in: query
        description: Direction to sort by (asc or desc)
        schema:
          allOf:
          - $ref: '#/components/schemas/SortDirection'
          description: Direction to sort by (asc or desc)
      - name: subscription_statuses
        in: query
        description: Filter companies by one or more subscription statuses
        schema:
          type: array
          description: Filter companies by one or more subscription statuses
          items:
            $ref: '#/components/schemas/SubscriptionStatus'
          maxItems: 100
      - name: subscription_types
        in: query
        description: Filter companies by one or more subscription types
        schema:
          type: array
          description: Filter companies by one or more subscription types
          items:
            $ref: '#/components/schemas/SubscriptionType'
          maxItems: 100
      - name: with_entitlement_for
        in: query
        description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
        schema:
          type: string
          description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
      - name: without_feature_override_for
        in: query
        description: Filter out companies that already have a company override for the specified feature ID
        schema:
          type: string
          description: Filter out companies that already have a company override for the specified feature ID
      - name: without_plan
        in: query
        description: Filter out companies that have a plan
        schema:
          type: boolean
          description: Filter out companies that have a plan
      - name: without_subscription
        in: query
        description: Filter out companies that have a subscription
        schema:
          type: boolean
          description: Filter out companies that have a subscription
      - name: with_subscription
        in: query
        description: Filter companies that have a subscription
        schema:
          type: boolean
          description: Filter companies that have a subscription
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      credit_type_ids:
                        type: array
                        description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
                        items:
                          type: string
                        maxItems: 100
                      has_scheduled_downgrade:
                        type: boolean
                        description: Filter companies that have a pending scheduled downgrade
                      ids:
                        type: array
                        description: Filter companies by multiple company IDs (starts with comp_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      monetized_subscriptions:
                        type: boolean
                        description: Filter companies that have monetized subscriptions
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter companies by plan ID (starts with plan_)
                      plan_ids:
                        type: array
                        description: Filter companies by one or more plan IDs (each ID starts with plan_)
                        items:
                          type: string
                        maxItems: 100
                      plan_version_id:
                        type: string
                        description: Filter companies by plan version ID (starts with plvr_)
                      q:
                        type: string
                        description: Search for companies by name, keys or string traits
                        maxLength: 512
                      sort_order_column:
                        type: string
                        description: Column to sort by (e.g. name, created_at, last_seen_at)
                        maxLength: 255
                      sort_order_direction:
                        allOf:
                        - $ref: '#/components/schemas/SortDirection'
                        description: Direction to sort by (asc or desc)
                      subscription_statuses:
                        type: array
                        description: Filter companies by one or more subscription statuses
                        items:
                          $ref: '#/components/schemas/SubscriptionStatus'
                        maxItems: 100
                      subscription_types:
                        type: array
                        description: Filter companies by one or more subscription types
                        items:
                          $ref: '#/components/schemas/SubscriptionType'
                        maxItems: 100
                      with_entitlement_for:
                        type: string
                        description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
                      with_subscription:
                        type: boolean
                        description: Filter companies that have a subscription
                      without_feature_override_for:
                        type: string
                        description: Filter out companies that already have a company override for the specified feature ID
                      without_plan:
                        type: boolean
                        description: Filter out companies that have a plan
                      without_subscription:
                        type: boolean
                        description: Filter out companies that have a subscription
                    title: CountCompaniesParams
                required:
                - data
                - params
                title: CountCompaniesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/create:
    post:
      operationId: createCompany
      summary: Create company
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyRequestBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: CreateCompanyParams
                required:
                - data
                - params
                title: CreateCompanyResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/delete:
    post:
      operationId: deleteCompanyByKeys
      summary: Delete company by keys
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeysRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteCompanyByKeysParams
                required:
                - data
                - params
                title: DeleteCompanyByKeysResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/lookup:
    get:
      operationId: lookupCompany
      summary: Lookup company
      tags:
      - companies
      parameters:
      - name: keys
        in: query
        description: Key/value pairs
        required: true
        schema:
          additionalProperties:
            type: string
          type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      keys:
                        additionalProperties:
                          type: string
                        type: object
                    title: LookupCompanyParams
                required:
                - data
                - params
                title: LookupCompanyResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-memberships:
    get:
      operationId: listCompanyMemberships
      summary: List company memberships
      tags:
      - companies
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
      - name: user_id
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyMembershipDetailResponseData'
                    title: ListCompanyMembershipsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      user_id:
                        type: string
                    title: ListCompanyMembershipsParams
                required:
                - data
                - params
                title: ListCompanyMembershipsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: getOrCreateCompanyMembership
      summary: Get or create company membership
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrCreateCompanyMembershipRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyMembershipDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetOrCreateCompanyMembershipParams
                required:
                - data
                - params
                title: GetOrCreateCompanyMembershipResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-memberships/{company_membership_id}:
    delete:
      operationId: deleteCompanyMembership
      summary: Delete company membership
      tags:
      - companies
      parameters:
      - name: company_membership_id
        in: path
        description: company_membership_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeleteResponse'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteCompanyMembershipParams
                required:
                - data
                - params
                title: DeleteCompanyMembershipResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-subscriptions:
    get:
      operationId: getActiveCompanySubscription
      summary: Get active company subscription
      tags:
      - companies
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
      - name: company_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanySubscriptionResponseData'
                    title: GetActiveCompanySubscriptionResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                      company_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                    title: GetActiveCompanySubscriptionParams
                required:
                - data
                - params
                title: GetActiveCompanySubscriptionResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-traits:
    post:
      operationId: upsertCompanyTrait
      summary: Upsert company trait
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertTraitRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertCompanyTraitParams
                required:
                - data
                - params
                title: UpsertCompanyTraitResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-key-definitions:
    get:
      operationId: listEntityKeyDefinitions
      summary: List entity key definitions
      tags:
      - companies
      parameters:
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntityKeyDefinitionResponseData'
                    title: ListEntityKeyDefinitionsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      entity_type:
                        $ref: '#/components/schemas/EntityType'
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: ListEntityKeyDefinitionsParams
                required:
                - data
                - params
                title: ListEntityKeyDefinitionsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-key-definitions/count:
    get:
      operationId: countEntityKeyDefinitions
      summary: Count entity key definitions
      tags:
      - companies
      parameters:
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      entity_type:
                        $ref: '#/components/schemas/EntityType'
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: CountEntityKeyDefinitionsParams
                required:
                - data
                - params
                title: CountEntityKeyDefinitionsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-trait-definitions:
    get:
      operationId: listEntityTraitDefinitions
      summary: List entity trait definitions
      tags:
      - companies
      parameters:
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        schema:
          type: string
      - name: trait_type
        in: query
        schema:
          $ref: '#/components/schemas/TraitType'
      - name: trait_types
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TraitType'
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                    title: ListEntityTraitDefinitionsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      entity_type:
                        $ref: '#/components/schemas/EntityType'
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                      trait_type:
                        $ref: '#/components/schemas/TraitType'
                      trait_types:
                        type: array
                        items:
                          $ref: '#/components/schemas/TraitType'
                        maxItems: 100
                    title: ListEntityTraitDefinitionsParams
                required:
                - data
                - params
                title: ListEntityTraitDefinitionsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: getOrCreateEntityTraitDefinition
      summary: Get or create entity trait definition
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityTraitDefinitionRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetOrCreateEntityTraitDefinitionParams
                required:
                - data
                - params
                title: GetOrCreateEntityTraitDefinitionResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-trait-definitions/{entity_trait_definition_id}:
    get:
      operationId: getEntityTraitDefinition
      summary: Get entity trait definition
      tags:
      - companies
      parameters:
      - name: entity_trait_definition_id
        in: path
        description: entity_trait_definition_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetEntityTraitDefinitionParams
                required:
                - data
                - params
                title: GetEntityTraitDefinitionResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      operationId: updateEntityTraitDefinition
      summary: Update entity trait definition
      tags:
      - companies
      parameters:
      - name: entity_trait_definition_id
        in: path
        description: entity_trait_definition_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTraitDefinitionRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpdateEntityTraitDefinitionParams
                required:
                - data
                - params
                title: UpdateEntityTraitDefinitionResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-trait-definitions/count:
    get:
      operationId: countEntityTraitDefinitions
      summary: Count entity trait definitions
      tags:
      - companies
      parameters:
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        schema:
          type: string
      - name: trait_type
        in: query
        schema:
          $ref: '#/components/schemas/TraitType'
      - name: trait_types
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TraitType'
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      entity_type:
                        $ref: '#/components/schemas/EntityType'
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                      trait_type:
                        $ref: '#/components/schemas/TraitType'
                      trait_types:
                        type: array
                        items:
                          $ref: '#/components/schemas/TraitType'
                        maxItems: 100
                    title: CountEntityTraitDefinitionsParams
                required:
                - data
                - params
                title: CountEntityTraitDefinitionsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-trait-values:
    get:
      operationId: getEntityTraitValues
      summary: Get entity trait values
      tags:
      - companies
      parameters:
      - name: definition_id
        in: query
        required: true
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntityTraitValue'
                    title: GetEntityTraitValuesResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      definition_id:
                        type: string
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: GetEntityTraitValuesParams
                required:
                - data
                - params
                title: GetEntityTraitValuesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-changes:
    get:
      operationId: listPlanChanges
      summary: List plan changes
      tags:
      - companies
      parameters:
      - name: action
        in: query
        schema:
          $ref: '#/components/schemas/PlanChangeAction'
      - name: base_plan_action
        in: query
        schema:
          $ref: '#/components/schemas/PlanChangeBasePlanAction'
      - name: company_id
        in: query
        schema:
          type: string
      - name: company_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: plan_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlanChangeResponseData'
                    title: ListPlanChangesResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      action:
                        $ref: '#/components/schemas/PlanChangeAction'
                      base_plan_action:
                        $ref: '#/components/schemas/PlanChangeBasePlanAction'
                      company_id:
                        type: string
                      company_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                    title: ListPlanChangesParams
                required:
                - data
                - params
                title: ListPlanChangesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-changes/{plan_change_id}:
    get:
      operationId: getPlanChange
      summary: Get plan change
      tags:
      - companies
      parameters:
      - name: plan_change_id
        in: path
        description: plan_change_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlanChangeResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetPlanChangeParams
                required:
                - data
                - params
                title: GetPlanChangeResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-traits:
    get:
      operationId: listPlanTraits
      summary: List plan traits
      tags:
      - companies
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        schema:
          type: string
      - name: trait_id
        in: query
        schema:
          type: string
      - name: trait_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlanTraitResponseData'
                    title: ListPlanTraitsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                      trait_id:
                        type: string
                      trait_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                    title: ListPlanTraitsParams
                required:
                - data
                - params
                title: ListPlanTraitsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-traits/{plan_trait_id}:
    get:
      operationId: getPlanTrait
      summary: Get plan trait
      tags:
      - companies
      parameters:
      - name: plan_trait_id
        in: path
        description: plan_trait_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlanTraitResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetPlanTraitParams
                required:
                - data
                - params
                title: GetPlanTraitResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-traits/bulk:
    post:
      operationId: updatePlanTraitsBulk
      summary: Update plan traits bulk
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanTraitBulkRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlanTraitResponseData'
                    title: UpdatePlanTraitsBulkResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    title: UpdatePlanTraitsBulkParams
                required:
                - data
                - params
                title: UpdatePlanTraitsBulkResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-traits/count:
    get:
      operationId: countPlanTraits
      summary: Count plan traits
      tags:
      - companies
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        schema:
          type: string
      - name: trait_id
        in: query
        schema:
          type: string
      - name: trait_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                      trait_id:
                        type: string
                      trait_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                    title: CountPlanTraitsParams
                required:
                - data
                - params
                title: CountPlanTraitsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /user-traits:
    post:
      operationId: upsertUserTrait
      summary: Upsert user trait
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertTraitRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertUserTraitParams
                required:
                - data
                - params
                title: UpsertUserTraitResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users:
    get:
      operationId: listUsers
      summary: List users
      tags:
      - companies
      parameters:
      - name: company_id
        in: query
        description: Filter users by company ID (starts with comp_)
        schema:
          type: string
          description: Filter users by company ID (starts with comp_)
      - name: ids
        in: query
        description: Filter users by multiple user IDs (starts with user_)
        schema:
          type: array
          description: Filter users by multiple user IDs (starts with user_)
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        description: Filter users by plan ID (starts with plan_)
        schema:
          type: string
          description: Filter users by plan ID (starts with plan_)
      - name: q
        in: query
        description: Search for users by name, keys or string traits
        schema:
          type: string
          description: Search for users by name, keys or string traits
          maxLength: 512
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserDetailResponseData'
                    title: ListUsersResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                        description: Filter users by company ID (starts with comp_)
                      ids:
                        type: array
                        description: Filter users by multiple user IDs (starts with user_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter users by plan ID (starts with plan_)
                      q:
                        type: string
                        description: Search for users by name, keys or string traits
                        maxLength: 512
                    title: ListUsersParams
                required:
                - data
                - params
                title: ListUsersResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: upsertUser
      summary: Upsert user
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertUserRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertUserParams
                required:
                - data
                - params
                title: UpsertUserResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/{user_id}:
    get:
      operationId: getUser
      summary: Get user
      tags:
      - companies
      parameters:
      - name: user_id
        in: path
        description: user_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetUserParams
                required:
                - data
                - params
                title: GetUserResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteUser
      summary: Delete user
      tags:
      - companies
      parameters:
      - name: user_id
        in: path
        description: user_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeleteResponse'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteUserParams
                required:
                - data
                - params
                title: DeleteUserResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/count:
    get:
      operationId: countUsers
      summary: Count users
      tags:
      - companies
      parameters:
      - name: company_id
        in: query
        description: Filter users by company ID (starts with comp_)
        schema:
          type: string
          description: Filter users by company ID (starts with comp_)
      - name: ids
        in: query
        description: Filter users by multiple user IDs (starts with user_)
        schema:
          type: array
          description: Filter users by multiple user IDs (starts with user_)
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        description: Filter users by plan ID (starts with plan_)
        schema:
          type: string
          description: Filter users by plan ID (starts with plan_)
      - name: q
        in: query
        description: Search for users by name, keys or string traits
        schema:
          type: string
          description: Search for users by name, keys or string traits
          maxLength: 512
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                        description: Filter users by company ID (starts with comp_)
                      ids:
                        type: array
                        description: Filter users by multiple user IDs (starts with user_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter users by plan ID (starts with plan_)
                      q:
                        type: string
                        description: Search for users by name, keys or string traits
                        maxLength: 512
                    title: CountUsersParams
                required:
                - data
                - params
                title: CountUsersResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/create:
    post:
      operationId: createUser
      summary: Create user
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertUserRequestBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: CreateUserParams
                required:
                - data
                - params
                title: CreateUserResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/delete:
    post:
      operationId: deleteUserByKeys
      summary: Delete user by keys
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeysRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteUserByKeysParams
                required:
                - data
                - params
                title: DeleteUserByKeysResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/lookup:
    get:
      operationId: lookupUser
      summary: Lookup user
      tags:
      - companies
      parameters:
      - name: keys
        in: query
        description: Key/value pairs
        required: true
        schema:
          additionalProperties:
            type: string
          type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      keys:
                        additionalProperties:
                          type: string
                        type: object
                    title: LookupUserParams
                required:
                - data
                - params
                title: LookupUserResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  schemas:
    BillingProductForSubscriptionResponseData:
      type: object
      properties:
        billing_scheme:
          $ref: '#/components/schemas/BillingPriceScheme'
        billing_threshold:
          type: integer
          format: int64
          nullable: true
        created_at:
          type: string
          format: date-time
        currency:
          type: string
        environment_id:
          type: string
        external_id:
          type: string
        id:
          type: string
        interval:
          type: string
        meter_id:
          type: string
          nullable: true
        name:
          type: string
        package_size:
          type: integer
          format: int64
        price:
          type: integer
          format: int64
        price_decimal:
          type: string
          nullable: true
        price_external_id:
          type: string
        price_id:
          type: string
        price_tier:
          type: array
          items:
            $ref: '#/components/schemas/BillingProductPriceTierResponseData'
          maxItems: 100
        provider_type:
          $ref: '#/components/schemas/BillingProviderType'
        quantity:
          type: number
        subscription_id:
          type: string
        subscription_item_external_id:
          type: string
          nullable: true
        updated_at:
          type: string
          format: date-time
        usage_type:
          $ref: '#/components/schemas/BillingPriceUsageType'
      required:
      - id
      - created_at
      - currency
      - environment_id
      - external_id
      - interval
      - name
      - package_size
      - price
      - price_external_id
      - price_id
      - price_tier
      - provider_type
      - quantity
      - billing_scheme
      - subscription_id
      - updated_at
      - usage_type
      title: BillingProductForSubscriptionResponseData
    UpdatePlanTraitTraitRequestBody:
      type: object
      properties:
        trait_id:
          type: string
        trait_value:
          type: string
      required:
      - trait_id
      - trait_value
      title: UpdatePlanTraitTraitRequestBody
    BillingPlanCreditGrantResetStart:
      type: string
      enum:
      - billing_period
      - first_of_month
    CompanyDetailResponseData:
      type: object
      properties:
        add_ons:
          type: array
          items:
            $ref: '#/components/schemas/CompanyPlanWithBillingSubView'
          maxItems: 1000
        billing_credit_balances:
          additionalProperties:
            type: number
          type: object
          nullable: true
        billing_subscription:
          $ref: '#/components/schemas/BillingSubscriptionView'
        billing_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/BillingSubscriptionView'
          maxItems: 1000
        created_at:
          type: string
          format: date-time
        custom_plan_billings:
          type: array
          items:
            $ref: '#/components/schemas/CustomPlanBillingResponseData'
          maxItems: 1000
        default_payment_method:
          $ref: '#/components/schemas/PaymentMethodResponseData'
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/FeatureEntitlement'
          maxItems: 1000
        entity_traits:
          type: array
          items:
            $ref: '#/components/schemas/EntityTraitDetailResponseData'
          maxItems: 1000
        environment_id:
          type: string
        id:
          type: string
        keys:
          type: array
          items:
            $ref: '#/components/schemas/EntityKeyDetailResponseData'
          maxItems: 1000
        last_seen_at:
          type: string
          format: date-time
          nullable: true
        logo_url:
          type: string
          nullable: true
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/CompanyEventPeriodMetricsResponseData'
          maxItems: 1000
        name:
          type: string
        payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodResponseData'
          maxItems: 1000
        plan:
          $ref: '#/components/schemas/CompanyPlanWithBillingSubView'
        plans:
          type: array
          items:
            $ref: '#/components/schemas/GenericPreviewObject'
          maxItems: 1000
        rules:
          type: array
          items:
            $ref: '#/components/schemas/Rule'
          maxItems: 1000
        scheduled_downgrade:
          $ref: '#/components/schemas/ScheduledDowngradeResponseData'
        traits:
          type: object
          description: A map of trait names to trait values
        updated_at:
          type: string
          format: date-time
        user_count:
          type: integer
          format: int64
      required:
      - created_at
      - environment_id
      - id
      - name
      - updated_at
      - add_ons
      - billing_subscriptions
      - custom_plan_billings
      - entitlements
      - entity_traits
      - keys
      - metrics
      - payment_methods
      - plans
      - rules
      - user_count
      title: CompanyDetailResponseData
    BillingPlanCreditGrantResetType:
      type: string
      enum:
      - no_reset
      - plan_period
    BillingCreditBurnStrategy:
      type: string
      enum:
      - expiration_priority
      - first_in_first_out
      - last_in_first_out
      - plan_first_then_credit_bundles_first_in_first_out
    ApiKeyResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
        environment:
          $ref: '#/components/schemas/EnvironmentResponseData'
        environment_id:
          type: string
          nullable: true
        id:
          type: string
        last_used_at:
          type: string
          format: date-time
          nullable: true
        name:
          type: string
        readonly:
          type: boolean
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyScope'
          maxItems: 50
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - created_at
      - name
      - readonly
      - scopes
      - updated_at
      title: ApiKeyResponseData
    UpsertTraitRequestBody:
      type: object
      properties:
        incr:
          type: integer
          description: Amount to increment the trait by (positive or negative)
          format: int64
          nullable: true
        keys:
          additionalProperties:
            type: string
          type: object
          description: Key/value pairs to identify a company or user
        set:
          type: string
          description: Value to set the trait to
          nullable: true
          maxLength: 1024
        trait:
          type: string
          description: Name of the trait to update
          maxLength: 255
        update_only:
          type: boolean
          description: Unless this is set, the company or user will be created if it does not already exist
          nullable: true
      required:
      - keys
      - trait
      title: UpsertTraitRequestBody
    CustomPlanBillingResponseData:
      type: object
      properties:
        activation_strategy:
          $ref: '#/components/schemas/CustomPlanActivationStrategy'
        company_id:
          type: string
        created_at:
          type: string
          format: date-time
        days_until_due:
          type: integer
          format: int64
        id:
          type: string
        paid_at:
          type: string
          format: date-time
          nullable: true
        plan_id:
          type: string
        published_at:
          type: string
          format: date-time
          nullable: true
        status:
          $ref: '#/components/schemas/CustomPlanBillingStatus'
        stripe_invoice_url:
          type: string
          nullable: true
        updated_at:
          type: string
          format: date-time
      required:
      - activation_strategy
      - company_id
      - created_at
      - days_until_due
      - id
      - plan_id
      - status
      - updated_at
      title: CustomPlanBillingResponseData
    CompanyEventPeriodMetricsResponseData:
      type: object
      properties:
        account_id:
          type: string
        captured_at_max:
          type: string
          format: date-time
        captured_at_min:
          type: string
          format: date-time
        company_id:
          type: string
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        event_subtype:
          type: string
        month_reset:
          $ref: '#/components/schemas/MetricPeriodMonthReset'
        period:
          $ref: '#/components/schemas/MetricPeriod'
        valid_until:
          type: string
          format: date-time
          nullable: true
        value:
          type: integer
          format: int64
      required:
      - account_id
      - captured_at_max
      - captured_at_min
      - company_id
      - created_at
      - environment_id
      - event_subtype
      - month_reset
      - period
      - value
      title: CompanyEventPeriodMetricsResponseData
    GetOrCreateCompanyMembershipRequestBody:
      type: object
      properties:
        company_id:
          type: string
        user_id:
          type: string
      required:
      - company_id
      - user_id
      title: GetOrCreateCompanyMembershipRequestBody
    UserResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        id:
          type: string
        last_seen_at:
          type: string
          format: date-time
          nullable: true
        name:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - environment_id
      - name
      - created_at
      - updated_at
      title: UserResponseData
    FeatureEntitlement:
      type: object
      properties:
        allocation:
          type: integer
          description: If the company has a numeric entitlement for this feature, the allocated amount
          format: int64
          nullable: true
        credit_id:
          type: string
          description: If the company has a credit-based entitlement for this feature, the ID of the credit
          nullable: true
        credit_remaining:
          type: number
          description: If the company has a credit-based entitlement for this feature, the remaining credit amount
          nullable: true
        credit_total:
          type: number
          description: If the company has a credit-based entitlement for this feature, the total credit amount
          nullable: true
        credit_used:
          type: number
          description: If the company has a credit-based entitlement for this feature, the amount of credit used
          nullable: true
        event_name:
          type: string
          description: If the feature is event-based, the name of the event tracked for usage
          nullable: true
        feature_id:
          type: string
          description: The ID of the feature
        feature_key:
          type: string
          description: The key of the flag associated with the feature
        metric_period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
          description: For event-based feature entitlements, the period over which usage is tracked
          nullable: true
        metric_reset_at:
          type: string
          description: For event-based feature entitlements, when the usage period will reset
          format: date-time
          nullable: true
        month_reset:
          allOf:
          - $ref: '#/components/schemas/MetricPeriodMonthReset'
          description: For event-based feature entitlements that have a monthly period, whether that monthly reset is based on the calendar month or a billing cycle
          nullable: true
        soft_limit:
          type: integer
          description: For usage-based pricing, the soft limit for overage charges or the next tier boundary
          format: int64
          nullable: true
        usage:
          type: integer
          description: If the company has a numeric entitlement for this feature, the current usage amount
          format: int64
          nullable: true
        value_type:
          allOf:
          - $ref: '#/components/schemas/EntitlementValueType'
          description: The type of the entitlement value
      required:
      - feature_id
      - feature_key
      - value_type
      title: FeatureEntitlement
    PlanChangeResponseData:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/PlanChangeAction'
        actor_type:
          $ref: '#/components/schemas/ActorType'
        add_ons_added:
          type: array
          items:
            $ref: '#/components/schemas/PlanSnapshotView'
          maxItems: 1000
        add_ons_removed:
          type: array
          items:
            $ref: '#/components/schemas/PlanSnapshotView'
          maxItems: 1000
        api_key:
          $ref: '#/components/schemas/ApiKeyResponseData'
        audit_log:
          $ref: '#/components/schemas/AuditLogListResponseData'
        base_plan:
          $ref: '#/components/schemas/PlanSnapshotView'
        base_plan_action:
          allOf:
          - $ref: '#/components/schemas/PlanChangeBasePlanAction'
          description: Any special behavior that affected the assignment of the base plan during this change.
          nullable: true
        base_plan_version:
          allOf:
          - $ref: '#/components/schemas/PlanVersionSnapshotView'
          description: The plan version that was assigned during this change.
        company:
          $ref: '#/components/schemas/CompanyResponseData'
        company_id:
          type: string
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        id:
          type: string
        previous_base_plan:
          $ref: '#/components/schemas/PlanSnapshotView'
        previous_base_plan_version:
          allOf:
          - $ref: '#/components/schemas/PlanVersionSnapshotView'
          description: The plan version of the previous base plan before this change.
        request_id:
          type: string
          nullable: true
        subscription_change_action:
          allOf:
          - $ref: '#/components/schemas/PlanChangeSubscriptionAction'
          description: If a subscription was changed as a part of this plan change, indicates the type of change that was made.
[...]
