openapi: 3.2.0
info:
  title: Schematic accesstokens Entitlements API
  version: '0.1'
  description: Schematic API
  x-rules-engine-schema-version: v97288f60
servers:
- url: https://api.schematichq.com
security:
- ApiKeyAuth: []
tags:
- name: entitlements
paths:
  /company-overrides:
    get:
      operationId: listCompanyOverrides
      summary: List company overrides
      tags:
      - entitlements
      parameters:
      - name: company_id
        in: query
        description: Filter company overrides by a single company ID (starting with comp_)
        schema:
          type: string
          description: Filter company overrides by a single company ID (starting with comp_)
      - name: company_ids
        in: query
        description: Filter company overrides by multiple company IDs (starting with comp_)
        schema:
          type: array
          description: Filter company overrides by multiple company IDs (starting with comp_)
          items:
            type: string
          maxItems: 100
      - name: feature_id
        in: query
        description: Filter company overrides by a single feature ID (starting with feat_)
        schema:
          type: string
          description: Filter company overrides by a single feature ID (starting with feat_)
      - name: feature_ids
        in: query
        description: Filter company overrides by multiple feature IDs (starting with feat_)
        schema:
          type: array
          description: Filter company overrides by multiple feature IDs (starting with feat_)
          items:
            type: string
          maxItems: 100
      - name: ids
        in: query
        description: Filter company overrides by multiple company override IDs (starting with cmov_)
        schema:
          type: array
          description: Filter company overrides by multiple company override IDs (starting with cmov_)
          items:
            type: string
          maxItems: 100
      - name: without_expired
        in: query
        description: Filter company overrides by whether they have not expired
        schema:
          type: boolean
          description: Filter company overrides by whether they have not expired
      - name: q
        in: query
        description: Search for company overrides by feature or company name
        schema:
          type: string
          description: Search for company overrides by feature or company name
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyOverrideResponseData'
                    title: ListCompanyOverridesResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                        description: Filter company overrides by a single company ID (starting with comp_)
                      company_ids:
                        type: array
                        description: Filter company overrides by multiple company IDs (starting with comp_)
                        items:
                          type: string
                        maxItems: 100
                      feature_id:
                        type: string
                        description: Filter company overrides by a single feature ID (starting with feat_)
                      feature_ids:
                        type: array
                        description: Filter company overrides by multiple feature IDs (starting with feat_)
                        items:
                          type: string
                        maxItems: 100
                      ids:
                        type: array
                        description: Filter company overrides by multiple company override IDs (starting with cmov_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                        description: Search for company overrides by feature or company name
                      without_expired:
                        type: boolean
                        description: Filter company overrides by whether they have not expired
                    title: ListCompanyOverridesParams
                required:
                - data
                - params
                title: ListCompanyOverridesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createCompanyOverride
      summary: Create company override
      tags:
      - entitlements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyOverrideRequestBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyOverrideResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: CreateCompanyOverrideParams
                required:
                - data
                - params
                title: CreateCompanyOverrideResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-overrides/{company_override_id}:
    get:
      operationId: getCompanyOverride
      summary: Get company override
      tags:
      - entitlements
      parameters:
      - name: company_override_id
        in: path
        description: company_override_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyOverrideResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetCompanyOverrideParams
                required:
                - data
                - params
                title: GetCompanyOverrideResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      operationId: updateCompanyOverride
      summary: Update company override
      tags:
      - entitlements
      parameters:
      - name: company_override_id
        in: path
        description: company_override_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyOverrideRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyOverrideResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpdateCompanyOverrideParams
                required:
                - data
                - params
                title: UpdateCompanyOverrideResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteCompanyOverride
      summary: Delete company override
      tags:
      - entitlements
      parameters:
      - name: company_override_id
        in: path
        description: company_override_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeleteResponse'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteCompanyOverrideParams
                required:
                - data
                - params
                title: DeleteCompanyOverrideResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-overrides/count:
    get:
      operationId: countCompanyOverrides
      summary: Count company overrides
      tags:
      - entitlements
      parameters:
      - name: company_id
        in: query
        description: Filter company overrides by a single company ID (starting with comp_)
        schema:
          type: string
          description: Filter company overrides by a single company ID (starting with comp_)
      - name: company_ids
        in: query
        description: Filter company overrides by multiple company IDs (starting with comp_)
        schema:
          type: array
          description: Filter company overrides by multiple company IDs (starting with comp_)
          items:
            type: string
          maxItems: 100
      - name: feature_id
        in: query
        description: Filter company overrides by a single feature ID (starting with feat_)
        schema:
          type: string
          description: Filter company overrides by a single feature ID (starting with feat_)
      - name: feature_ids
        in: query
        description: Filter company overrides by multiple feature IDs (starting with feat_)
        schema:
          type: array
          description: Filter company overrides by multiple feature IDs (starting with feat_)
          items:
            type: string
          maxItems: 100
      - name: ids
        in: query
        description: Filter company overrides by multiple company override IDs (starting with cmov_)
        schema:
          type: array
          description: Filter company overrides by multiple company override IDs (starting with cmov_)
          items:
            type: string
          maxItems: 100
      - name: without_expired
        in: query
        description: Filter company overrides by whether they have not expired
        schema:
          type: boolean
          description: Filter company overrides by whether they have not expired
      - name: q
        in: query
        description: Search for company overrides by feature or company name
        schema:
          type: string
          description: Search for company overrides by feature or company name
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                        description: Filter company overrides by a single company ID (starting with comp_)
                      company_ids:
                        type: array
                        description: Filter company overrides by multiple company IDs (starting with comp_)
                        items:
                          type: string
                        maxItems: 100
                      feature_id:
                        type: string
                        description: Filter company overrides by a single feature ID (starting with feat_)
                      feature_ids:
                        type: array
                        description: Filter company overrides by multiple feature IDs (starting with feat_)
                        items:
                          type: string
                        maxItems: 100
                      ids:
                        type: array
                        description: Filter company overrides by multiple company override IDs (starting with cmov_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                        description: Search for company overrides by feature or company name
                      without_expired:
                        type: boolean
                        description: Filter company overrides by whether they have not expired
                    title: CountCompanyOverridesParams
                required:
                - data
                - params
                title: CountCompanyOverridesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /feature-companies:
    get:
      operationId: listFeatureCompanies
      summary: List feature companies
      tags:
      - entitlements
      parameters:
      - name: feature_id
        in: query
        required: true
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureCompanyResponseData'
                    title: ListFeatureCompaniesResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      feature_id:
                        type: string
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: ListFeatureCompaniesParams
                required:
                - data
                - params
                title: ListFeatureCompaniesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /feature-companies/count:
    get:
      operationId: countFeatureCompanies
      summary: Count feature companies
      tags:
      - entitlements
      parameters:
      - name: feature_id
        in: query
        required: true
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      feature_id:
                        type: string
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: CountFeatureCompaniesParams
                required:
                - data
                - params
                title: CountFeatureCompaniesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /feature-usage:
    get:
      operationId: listFeatureUsage
      summary: List feature usage
      tags:
      - entitlements
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
      - name: company_keys
        in: query
        schema:
          additionalProperties:
            type: string
          type: object
      - name: feature_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: include_usage_aggregation
        in: query
        description: Include time-bucketed usage aggregation (today, this week, this month, billing period) for credit-based entitlements. Defaults to false for performance.
        schema:
          type: boolean
          description: Include time-bucketed usage aggregation (today, this week, this month, billing period) for credit-based entitlements. Defaults to false for performance.
      - name: q
        in: query
        schema:
          type: string
      - name: without_negative_entitlements
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureUsageResponseData'
                    title: ListFeatureUsageResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                      company_keys:
                        additionalProperties:
                          type: string
                        type: object
                      feature_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      include_usage_aggregation:
                        type: boolean
                        description: Include time-bucketed usage aggregation (today, this week, this month, billing period) for credit-based entitlements. Defaults to false for performance.
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                      without_negative_entitlements:
                        type: boolean
                    title: ListFeatureUsageParams
                required:
                - data
                - params
                title: ListFeatureUsageResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /feature-usage-timeseries:
    get:
      operationId: getFeatureUsageTimeSeries
      summary: Get feature usage time series
      tags:
      - entitlements
      parameters:
      - name: company_id
        in: query
        required: true
        schema:
          type: string
      - name: end_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: feature_id
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        schema:
          $ref: '#/components/schemas/TimeSeriesGranularity'
      - name: start_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FeatureUsageTimeSeriesResponseData'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                      end_time:
                        type: string
                        format: date-time
                      feature_id:
                        type: string
                      granularity:
                        $ref: '#/components/schemas/TimeSeriesGranularity'
                      start_time:
                        type: string
                        format: date-time
                    title: GetFeatureUsageTimeSeriesParams
                required:
                - data
                - params
                title: GetFeatureUsageTimeSeriesResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /feature-usage/count:
    get:
      operationId: countFeatureUsage
      summary: Count feature usage
      tags:
      - entitlements
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
      - name: company_keys
        in: query
        schema:
          additionalProperties:
            type: string
          type: object
      - name: feature_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: include_usage_aggregation
        in: query
        description: Include time-bucketed usage aggregation (today, this week, this month, billing period) for credit-based entitlements. Defaults to false for performance.
        schema:
          type: boolean
          description: Include time-bucketed usage aggregation (today, this week, this month, billing period) for credit-based entitlements. Defaults to false for performance.
      - name: q
        in: query
        schema:
          type: string
      - name: without_negative_entitlements
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                      company_keys:
                        additionalProperties:
                          type: string
                        type: object
                      feature_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      include_usage_aggregation:
                        type: boolean
                        description: Include time-bucketed usage aggregation (today, this week, this month, billing period) for credit-based entitlements. Defaults to false for performance.
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                      without_negative_entitlements:
                        type: boolean
                    title: CountFeatureUsageParams
                required:
                - data
                - params
                title: CountFeatureUsageResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /feature-users:
    get:
      operationId: listFeatureUsers
      summary: List feature users
      tags:
      - entitlements
      parameters:
      - name: feature_id
        in: query
        required: true
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureCompanyUserResponseData'
                    title: ListFeatureUsersResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      feature_id:
                        type: string
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: ListFeatureUsersParams
                required:
                - data
                - params
                title: ListFeatureUsersResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /feature-users/count:
    get:
      operationId: countFeatureUsers
      summary: Count feature users
      tags:
      - entitlements
      parameters:
      - name: feature_id
        in: query
        required: true
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      feature_id:
                        type: string
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: CountFeatureUsersParams
                required:
                - data
                - params
                title: CountFeatureUsersResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-entitlements:
    get:
      operationId: listPlanEntitlements
      summary: List plan entitlements
      tags:
      - entitlements
      parameters:
      - name: feature_id
        in: query
        description: Filter plan entitlements by a single feature ID (starting with feat_)
        schema:
          type: string
          description: Filter plan entitlements by a single feature ID (starting with feat_)
      - name: feature_ids
        in: query
        description: Filter plan entitlements by multiple feature IDs (starting with feat_)
        schema:
          type: array
          description: Filter plan entitlements by multiple feature IDs (starting with feat_)
          items:
            type: string
          maxItems: 100
      - name: ids
        in: query
        description: Filter plan entitlements by multiple plan entitlement IDs (starting with pltl_)
        schema:
          type: array
          description: Filter plan entitlements by multiple plan entitlement IDs (starting with pltl_)
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        description: Filter plan entitlements by a single plan ID (starting with plan_)
        schema:
          type: string
          description: Filter plan entitlements by a single plan ID (starting with plan_)
      - name: plan_ids
        in: query
        description: Filter plan entitlements by multiple plan IDs (starting with plan_)
        schema:
          type: array
          description: Filter plan entitlements by multiple plan IDs (starting with plan_)
          items:
            type: string
          maxItems: 100
      - name: plan_version_id
        in: query
        description: Filter plan entitlements by a single plan version ID (starting with plvr_)
        schema:
          type: string
          description: Filter plan entitlements by a single plan version ID (starting with plvr_)
      - name: plan_version_ids
        in: query
        description: Filter plan entitlements by multiple plan version IDs (starting with plvr_)
        schema:
          type: array
          description: Filter plan entitlements by multiple plan version IDs (starting with plvr_)
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        description: Search for plan entitlements by feature or company name
        schema:
          type: string
          description: Search for plan entitlements by feature or company name
      - name: with_metered_products
        in: query
        description: Filter plan entitlements only with metered products
        schema:
          type: boolean
          description: Filter plan entitlements only with metered products
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlanEntitlementResponseData'
                    title: ListPlanEntitlementsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      feature_id:
                        type: string
                        description: Filter plan entitlements by a single feature ID (starting with feat_)
                      feature_ids:
                        type: array
                        description: Filter plan entitlements by multiple feature IDs (starting with feat_)
                        items:
                          type: string
                        maxItems: 100
                      ids:
                        type: array
                        description: Filter plan entitlements by multiple plan entitlement IDs (starting with pltl_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter plan entitlements by a single plan ID (starting with plan_)
                      plan_ids:
                        type: array
                        description: Filter plan entitlements by multiple plan IDs (starting with plan_)
                        items:
                          type: string
                        maxItems: 100
                      plan_version_id:
                        type: string
                        description: Filter plan entitlements by a single plan version ID (starting with plvr_)
                      plan_version_ids:
                        type: array
                        description: Filter plan entitlements by multiple plan version IDs (starting with plvr_)
                        items:
                          type: string
                        maxItems: 100
                      q:
                        type: string
                        description: Search for plan entitlements by feature or company name
                      with_metered_products:
                        type: boolean
                        description: Filter plan entitlements only with metered products
                    title: ListPlanEntitlementsParams
                required:
                - data
                - params
                title: ListPlanEntitlementsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createPlanEntitlement
      summary: Create plan entitlement
      tags:
      - entitlements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanEntitlementRequestBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlanEntitlementResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: CreatePlanEntitlementParams
                required:
                - data
                - params
                title: CreatePlanEntitlementResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-entitlements/{plan_entitlement_id}:
    get:
      operationId: getPlanEntitlement
      summary: Get plan entitlement
      tags:
      - entitlements
      parameters:
      - name: plan_entitlement_id
        in: path
        description: plan_entitlement_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlanEntitlementResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetPlanEntitlementParams
                required:
                - data
                - params
                title: GetPlanEntitlementResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      operationId: updatePlanEntitlement
      summary: Update plan entitlement
      tags:
      - entitlements
      parameters:
      - name: plan_entitlement_id
        in: path
        description: plan_entitlement_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanEntitlementRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlanEntitlementResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpdatePlanEntitlementParams
                required:
                - data
                - params
                title: UpdatePlanEntitlementResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deletePlanEntitlement
      summary: Delete plan entitlement
      tags:
      - entitlements
      parameters:
      - name: plan_entitlement_id
        in: path
        description: plan_entitlement_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeleteResponse'
                  params:
                    type: object
                    description: Input parameters
                    title: DeletePlanEntitlementParams
                required:
                - data
                - params
                title: DeletePlanEntitlementResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-entitlements/billing-linked:
    post:
      operationId: upsertPlanEntitlementForBillingProduct
      summary: Upsert plan entitlement for billing product
      tags:
      - entitlements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingLinkedPlanEntitlementRequestBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlanEntitlementResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertPlanEntitlementForBillingProductParams
                required:
                - data
                - params
                title: UpsertPlanEntitlementForBillingProductResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-entitlements/count:
    get:
      operationId: countPlanEntitlements
      summary: Count plan entitlements
      tags:
      - entitlements
      parameters:
      - name: feature_id
        in: query
        description: Filter plan entitlements by a single feature ID (starting with feat_)
        schema:
          type: string
          description: Filter plan entitlements by a single feature ID (starting with feat_)
      - name: feature_ids
        in: query
        description: Filter plan entitlements by multiple feature IDs (starting with feat_)
        schema:
          type: array
          description: Filter plan entitlements by multiple feature IDs (starting with feat_)
          items:
            type: string
          maxItems: 100
      - name: ids
        in: query
        description: Filter plan entitlements by multiple plan entitlement IDs (starting with pltl_)
        schema:
          type: array
          description: Filter plan entitlements by multiple plan entitlement IDs (starting with pltl_)
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        description: Filter plan entitlements by a single plan ID (starting with plan_)
        schema:
          type: string
          description: Filter plan entitlements by a single plan ID (starting with plan_)
      - name: plan_ids
        in: query
        description: Filter plan entitlements by multiple plan IDs (starting with plan_)
        schema:
          type: array
          description: Filter plan entitlements by multiple plan IDs (starting with plan_)
          items:
            type: string
          maxItems: 100
      - name: plan_version_id
        in: query
        description: Filter plan entitlements by a single plan version ID (starting with plvr_)
        schema:
          type: string
          description: Filter plan entitlements by a single plan version ID (starting with plvr_)
      - name: plan_version_ids
        in: query
        description: Filter plan entitlements by multiple plan version IDs (starting with plvr_)
        schema:
          type: array
          description: Filter plan entitlements by multiple plan version IDs (starting with plvr_)
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        description: Search for plan entitlements by feature or company name
        schema:
          type: string
          description: Search for plan entitlements by feature or company name
      - name: with_metered_products
        in: query
        description: Filter plan entitlements only with metered products
        schema:
          type: boolean
          description: Filter plan entitlements only with metered products
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      feature_id:
                        type: string
                        description: Filter plan entitlements by a single feature ID (starting with feat_)
                      feature_ids:
                        type: array
                        description: Filter plan entitlements by multiple feature IDs (starting with feat_)
                        items:
                          type: string
                        maxItems: 100
                      ids:
                        type: array
                        description: Filter plan entitlements by multiple plan entitlement IDs (starting with pltl_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter plan entitlements by a single plan ID (starting with plan_)
                      plan_ids:
                        type: array
                        description: Filter plan entitlements by multiple plan IDs (starting with plan_)
                        items:
                          type: string
                        maxItems: 100
                      plan_version_id:
                        type: string
                        description: Filter plan entitlements by a single plan version ID (starting with plvr_)
                      plan_version_ids:
                        type: array
                        description: Filter plan entitlements by multiple plan version IDs (starting with plvr_)
                        items:
                          type: string
                        maxItems: 100
                      q:
                        type: string
                        description: Search for plan entitlements by feature or company name
                      with_metered_products:
                        type: boolean
                        description: Filter plan entitlements only with metered products
                    title: CountPlanEntitlementsParams
                required:
                - data
                - params
                title: CountPlanEntitlementsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-entitlements/duplicate:
    post:
      operationId: duplicatePlanEntitlements
      summary: Duplicate plan entitlements
      tags:
      - entitlements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuplicatePlanEntitlementsRequestBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DuplicatePlanEntitlementsResponseResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: DuplicatePlanEntitlementsParams
                required:
                - data
                - params
                title: DuplicatePlanEntitlementsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /usage-by-company:
    get:
      operationId: getFeatureUsageByCompany
      summary: Get feature usage by company
      tags:
      - entitlements
      parameters:
      - name: keys
        in: query
        description: Key/value pairs
        required: true
        schema:
          additionalProperties:
            type: string
          type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FeatureUsageDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      keys:
                        additionalProperties:
                          type: string
                        type: object
                    title: GetFeatureUsageByCompanyParams
                required:
                - data
                - params
                title: GetFeatureUsageByCompanyResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    Rule:
      type: object
      properties:
        account_id:
          type: string
        condition_groups:
          type: array
          items:
            $ref: '#/components/schemas/ConditionGroup'
          maxItems: 1000
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          maxItems: 1000
        environment_id:
          type: string
        flag_id:
          type:
          - string
          - 'null'
        id:
          type: string
        name:
          type: string
        priority:
          type: integer
          format: int64
        rule_type:
          $ref: '#/components/schemas/RuleType'
        value:
          type: boolean
      required:
      - id
      - account_id
      - environment_id
      - rule_type
      - name
      - priority
      - conditions
      - condition_groups
      - value
      title: Rule
    CompanyDetailResponseData:
      type: object
      properties:
        add_ons:
          type: array
          items:
            $ref: '#/components/schemas/CompanyPlanWithBillingSubView'
          maxItems: 1000
        billing_credit_balances:
          additionalProperties:
            type: number
          type:
          - object
          - 'null'
        billing_subscription:
          $ref: '#/components/schemas/BillingSubscriptionView'
        billing_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/BillingSubscriptionView'
          maxItems: 1000
        created_at:
          type: string
          format: date-time
        custom_plan_billings:
          type: array
          items:
            $ref: '#/components/schemas/CustomPlanBillingResponseData'
          maxItems: 1000
        default_payment_method:
          $ref: '#/components/schemas/PaymentMethodResponseData'
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/FeatureEntitlement'
          maxItems: 1000
        entity_traits:
          type: array
          items:
            $ref: '#/components/schemas/EntityTraitDetailResponseData'
          maxItems: 1000
        environment_id:
          type: string
        id:
          type: string
        keys:
          type: array
          items:
            $ref: '#/components/schemas/EntityKeyDetailResponseData'
          maxItems: 1000
        last_seen_at:
          type:
          - string
          - 'null'
          format: date-time
        logo_url:
          type:
          - string
          - 'null'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/CompanyEventPeriodMetricsResponseData'
          maxItems: 1000
        name:
          type: string
        payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodResponseData'
          maxItems: 1000
        plan:
          $ref: '#/components/schemas/CompanyPlanWithBillingSubView'
        plans:
          type: array
          items:
            $ref: '#/components/schemas/GenericPreviewObject'
          maxItems: 1000
        rules:
          type: array
          items:
            $ref: '#/components/schemas/Rule'
          maxItems: 1000
        scheduled_downgrade:
          $ref: '#/components/schemas/ScheduledDowngradeResponseData'
        traits:
          type: object
          description: A map of trait names to trait values
        updated_at:
          type: string
          format: date-time
        user_count:
          type: integer
          format: int64
      required:
      - created_at
      - environment_id
      - id
      - name
      - updated_at
      - add_ons
      - billing_subscriptions
      - custom_plan_billings
      - entitlements
      - entity_traits
      - keys
      - metrics
      - payment_methods
      - plans
      - rules
      - user_count
      title: CompanyDetailResponseData
    CustomPlanBillingResponseData:
      type: object
      properties:
        activation_strategy:
          $ref: '#/components/schemas/CustomPlanActivationStrategy'
        company_id:
          type: string
        created_at:
          type: string
          format: date-time
        days_until_due:
          type: integer
          format: int64
        id:
          type: string
        paid_at:
          type:
          - string
          - 'null'
          format: date-time
        plan_id:
          type: string
        published_at:
          type:
          - string
          - 'null'
          format: date-time
        status:
          $ref: '#/components/schemas/CustomPlanBillingStatus'
        stripe_invoice_url:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
      required:
      - activation_strategy
      - company_id
      - created_at
      - days_until_due
      - id
      - plan_id
      - status
      - updated_at
      title: CustomPlanBillingResponseData
    FeatureResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        description:
          type: string
        event_subtype:
          type:
          - string
          - 'null'
        feature_type:
          $ref: '#/components/schemas/FeatureType'
        icon:
          type: string
        id:
          type: string
        lifecycle_phase:
          allOf:
          - $ref: '#/components/schemas/FeatureLifecyclePhase'
        maintainer_account_member_id:
          type:
          - string
          - 'null'
        name:
          type: string
        plural_name:
          type:
          - string
          - 'null'
        singular_name:
          type:
          - string
          - 'null'
        trait_id:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - description
      - feature_type
      - icon
      - created_at
      - updated_at
      title: FeatureResponseData
    DeleteResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Whether the delete was successful
    TimeSeriesGranularity:
      type: string
      enum:
      - daily
      - hourly
      - monthly
      - weekly
    CreditCurrencyPrice:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/BillingPriceView'
      required:
      - currency
      title: CreditCurrencyPrice
    PreviewObject:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        id:
          type: string
        image_url:
          type:
          - string
          - 'null'
        name:
          type: string
      required:
      - id
      - name
      title: PreviewObject
    UserResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        id:
          type: string
        last_seen_at:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - environment_id
      - name
      - created_at
      - updated_at
      title: UserResponseData
    MetricPeriodMonthReset:
      type: string
      enum:
      - billing_cycle
      - first_of_month
    CustomPlanActivationStrategy:
      type: string
      enum:
      - on_payment
      - on_publish
    BillingPriceView:
      type: object
      properties:
        billing_scheme:
          $ref: '#/components/schemas/BillingPriceScheme'
        created_at:
          type: string
          format: date-time
        currency:
          type: string
        id:
          type: string
        interval:
          $ref: '#/components/schemas/BillingProductPriceInterval'
        is_active:
          type: boolean
        meter_event_name:
          type:
          - string
          - 'null'
        meter_event_payload_key:
          type:
          - string
          - 'null'
        meter_id:
          type:
          - string
          - 'null'
        nickname:
          type:
          - string
          - 'null'
        package_size:
          type: integer
          format: int64
        price:
          type: integer
          format: int64
        price_decimal:
          type:
          - string
          - 'null'
        price_external_id:
          type: string
        price_id:
          type: string
        price_tier:
          type: array
          items:
            $ref: '#/components/schemas/BillingProductPriceTierResponseData'
          maxItems: 100
        product_external_id:
          type: string
        product_id:
          type: string
        product_name:
          type: string
        provider_type:
          $ref: '#/components/schemas/BillingProviderType'
        tiers_mode:
          allOf:
          - $ref: '#/components/schemas/BillingTiersMode'
        updated_at:
          type: string
          format: date-time
        usage_type:
          $ref: '#/components/schemas/BillingPriceUsageType'
      required:
      - id
      - billing_scheme
      - created_at
      - currency
      - interval
      - is_active
      - package_size
      - price
      - price_external_id
      - product_external_id
      - provider_type
      - updated_at
      - usage_type
      - price_id
      - product_id
      - product_name
      - price_tier
      title: BillingPriceView
    CompanyOverrideResponseData:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/CompanyDetailResponseData'
        company_id:
          type: string
        consumption_rate:
          type:
          - number
          - 'null'
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        expiration_date:
          type:
          - string
          - 'null'
          format: date-time
        feature:
          $ref: '#/components/schemas/FeatureResponseData'
        feature_id:
          type: string
        id:
          type: string
        metric_period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
        metric_period_month_reset:
          allOf:
          - $ref: '#/components/schemas/MetricPeriodMonthReset'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/CompanyOverrideNoteResponseData'
          maxItems: 1000
        rule_id:
          type:
          - string
          - 'null'
        rule_id_usage_exceeded:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
        value_bool:
          type:
          - boolean
          - 'null'
        value_numeric:
          type:
          - integer
          - 'null'
          format: int64
        value_trait:
          $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
        value_trait_id:
          type:
          - string
          - 'null'
        value_type:
          $ref: '#/components/schemas/EntitlementValueType'
      required:
      - company_id
      - created_at
      - environment_id
      - feature_id
      - id
      - updated_at
      - value_type
      - notes
      title: CompanyOverrideResponseData
    FeatureType:
      type: string
      enum:
      - boolean
      - event
      - trait
    CurrencyPriceRequestBody:
      type: object
      properties:
        currency:
          type: string
          maxLength: 3
        monthly_price_tiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreatePriceTierRequestBody'
          maxItems: 100
        monthly_unit_price:
          type:
          - integer
          - 'null'
          format: int64
        monthly_unit_price_decimal:
          type:
          - string
          - 'null'
        yearly_price_tiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreatePriceTierRequestBody'
          maxItems: 100
        yearly_unit_price:
          type:
          - integer
          - 'null'
          format: int64
        yearly_unit_price_decimal:
          type:
          - string
          - 'null'
      required:
      - currency
      title: CurrencyPriceRequestBody
    PlanEntitlementResponseData:
      type: object
      properties:
        billing_linked_resource:
          $ref: '#/components/schemas/BillingLinkedResourceResponseData'
        billing_threshold:
          type:
          - integer
          - 'null'
          format: int64
        consumption_rate:
          type:
          - number
          - 'null'
        created_at:
          type: string
          format: date-time
        currency_prices:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementCurrencyPricesResponseData'
          maxItems: 1000
        environment_id:
          type: string
        feature:
          $ref: '#/components/schemas/FeatureResponseData'
        feature_id:
          type: string
        id:
          type: string
        metered_monthly_price:
          $ref: '#/components/schemas/BillingPriceView'
        metered_yearly_price:
          $ref: '#/components/schemas/BillingPriceView'
        metric_period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
        metric_period_month_reset:
          allOf:
          - $ref: '#/components/schemas/MetricPeriodMonthReset'
        plan:
          $ref: '#/components/schemas/PlanResponseData'
        plan_id:
          type: string
        price_behavior:
          allOf:
          - $ref: '#/components/schemas/EntitlementPriceBehavior'
        rule_id:
          type: string
        rule_id_usage_exceeded:
          type:
          - string
          - 'null'
        soft_limit:
          type:
          - integer
          - 'null'
          format: int64
        updated_at:
          type: string
          format: date-time
        usage_based_product:
          $ref: '#/components/schemas/BillingProductResponseData'
        value_bool:
          type:
          - boolean
          - 'null'
        value_credit:
          $ref: '#/components/schemas/BillingCreditResponseData'
        value_numeric:
          type:
          - integer
          - 'null'
          format: int64
        value_trait:
          $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
        value_trait_id:
          type:
          - string
          - 'null'
        value_type:
          $ref: '#/components/schemas/EntitlementValueType'
      required:
      - created_at
      - currency_prices
      - environment_id
      - feature_id
      - id
      - plan_id
      - rule_id
      - updated_at
      - value_type
      title: PlanEntitlementResponseData
    BillingCreditRolloverPolicy:
      type: string
      enum:
      - expire
      - none
      - rollover
    BillingSubscriptionView:
      type: object
      properties:
        application_id:
          type:
          - string
          - 'null'
        cancel_at:
          type:
          - integer
          - 'null'
          format: int64
        cancel_at_period_end:
          type: boolean
        company_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        currency:
          type: string
        customer_external_id:
          type: string
        default_payment_method_id:
          type:
          - string
          - 'null'
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/BillingSubscriptionDiscountView'
          maxItems: 1000
        expired_at:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type: string
        interval:
          type: string
        latest_invoice:
          $ref: '#/components/schemas/InvoiceResponseData'
        metadata:
          type: object
        payment_method:
          $ref: '#/components/schemas/PaymentMethodResponseData'
        period_end:
          type: integer
          format: int64
        period_start:
          type: integer
          format: int64
        products:
          type: array
          items:
            $ref: '#/components/schemas/BillingProductForSubscriptionResponseData'
          maxItems: 1000
        provider_type:
          $ref: '#/components/schemas/BillingProviderType'
        status:
          type: string
        subscription_external_id:
          type: string
        total_price:
          type: integer
          format: int64
        trial_end:
          type:
          - integer
          - 'null'
          format: int64
        trial_end_setting:
          allOf:
          - $ref: '#/components/schemas/BillingSubscriptionTrialEndSetting'
      required:
      - cancel_at_period_end
      - created_at
      - currency
      - customer_external_id
      - subscription_external_id
      - id
      - interval
      - period_end
      - period_start
      - total_price
      - provider_type
      - status
      - products
      - discounts
      title: BillingSubscriptionView
    CustomPlanBillingStatus:
      type: string
      enum:
      - active
      - expired
      - paid
      - pending
    EntityTraitDefinitionResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        display_name:
          type: string
        entity_type:
          $ref: '#/components/schemas/EntityType'
        hierarchy:
          type: array
          items:
            type: string
          maxItems: 1000
        id:
          type: string
        trait_type:
          $ref: '#/components/schemas/TraitType'
        updated_at:
          type: string
          format: date-time
      required:
      - created_at
      - display_name
      - entity_type
      - hierarchy
      - id
      - trait_type
      - updated_at
      title: EntityTraitDefinitionResponseData
    ComparableOperator:
      type: string
      enum:
      - eq
      - gt
      - gte
      - is_empty
      - lt
      - lte
      - not_empty
      - ne
    FeatureCompanyUserResponseData:
      type: object
      properties:
        access:
          type: boolean
          description: Whether further usage is permitted.
        allocation:
          type:
          - integer
          - 'null'
          description: The maximum amount of usage that is permitted; a null value indicates that unlimited usage is permitted.
          format: int64
        allocation_type:
          allOf:
          - $ref: '#/components/schemas/EntitlementValueType'
          description: The type of allocation that is being used.
        company:
          $ref: '#/components/schemas/CompanyDetailResponseData'
        entitlement_id:
          type: string
        entitlement_type:
          $ref: '#/components/schemas/EntitlementType'
        feature:
          $ref: '#/components/schemas/FeatureDetailResponseData'
        metric_reset_at:
          type:
          - string
          - 'null'
          description: The time at which the metric will resets.
          format: date-time
        month_reset:
          allOf:
          - $ref: '#/components/schemas/MetricPeriodMonthReset'
          description: If the period is current_month, when the month resets.
        period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
          description: The period over which usage is measured.
        plan:
          $ref: '#/components/schemas/PlanResponseData'
        usage:
          type:
          - integer
          - 'null'
          description: The amount of usage that has been consumed; a null value indicates that usage is not being measured.
          format: int64
        user:
          $ref: '#/components/schemas/UserResponseData'
      required:
      - access
      - allocation_type
      - entitlement_id
      - entitlement_type
      title: FeatureCompanyUserResponseData
    PlanCreditGrantView:
      type: object
      properties:
        billing_credit_auto_topup_amount:
          type:
          - integer
          - 'null'
          format: int64
        billing_credit_auto_topup_amount_type:
          type:
          - string
          - 'null'
        billing_credit_auto_topup_enabled:
          type: boolean
        billing_credit_auto_topup_expiry_type:
          allOf:
          - $ref: '#/components/schemas/BillingCreditExpiryType'
        billing_credit_auto_topup_expiry_unit:
          allOf:
          - $ref: '#/components/schemas/BillingCreditExpiryUnit'
        billing_credit_auto_topup_expiry_unit_count:
          type:
          - integer
          - 'null'
          format: int64
        billing_credit_auto_topup_threshold_credits:
          type:
          - integer
          - 'null'
          format: int64
        billing_credit_auto_topup_threshold_percent:
          type:
          - integer
          - 'null'
          format: int64
        created_at:
          type: string
          format: date-time
        credit:
          $ref: '#/components/schemas/BillingCreditView'
        credit_amount:
          type: integer
          format: int64
        credit_description:
          type: string
          description: Deprecated field, will be removed in the future. Use Credit.Description instead.
          deprecated: true
        credit_icon:
          type:
          - string
          - 'null'
          description: Deprecated field, will be removed in the future. Use Credit.Icon instead.
          deprecated: true
        credit_id:
          type: string
        credit_name:
          type: string
          description: Deprecated field, will be removed in the future. Use Credit.Name instead.
          deprecated: true
        expiry_type:
          allOf:
          - $ref: '#/components/schemas/BillingCreditExpiryType'
        expiry_unit:
          allOf:
          - $ref: '#/components/schemas/BillingCreditExpiryUnit'
        expiry_unit_count:
          type:
          - integer
          - 'null'
          format: int64
        id:
          type: string
        plan:
          $ref: '#/components/schemas/GenericPreviewObject'
        plan_id:
          type: string
        plan_version_id:
          type:
          - string
          - 'null'
        plural_name:
          type:
          - string
          - 'null'
          description: Deprecated field, will be removed in the future. Use Credit.PluralName instead.
          deprecated: true
        reset_cadence:
          allOf:
          - $ref: '#/components/schemas/BillingPlanCreditGrantResetCadence'
        reset_start:
          allOf:
          - $ref: '#/components/schemas/BillingPlanCreditGrantResetStart'
        reset_type:
          $ref: '#/components/schemas/BillingPlanCreditGrantResetType'
        singular_name:
          type:
          - string
          - 'null'
          description: Deprecated field, will be removed in the future. Use Credit.SingularName instead.
          deprecated: true
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - credit_id
      - plan_id
      - credit_amount
      - credit_name
      - credit_description
      - reset_type
      - billing_credit_auto_topup_enabled
      - created_at
      - updated_at
      title: PlanCreditGrantView
    CreditCurrencyPriceResponseData:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/BillingPriceResponseData'
      required:
      - currency
      title: CreditCurrencyPriceResponseData
    BillingPlanCreditGrantResetStart:
      type: string
      enum:
      - billing_period
      - first_of_month
    FeatureLifecyclePhase:
      type: string
      enum:
      - add_on
      - alpha
      - beta
      - deprecated
      - ga
      - inactive
      - in_plan
      - internal_testing
      - legacy
    DuplicatePlanEntitlementsRequestBody:
      type: object
      properties:
        source_plan_id:
          type: string
        target_plan_id:
          type: string
      required:
      - source_plan_id
      - target_plan_id
      title: DuplicatePlanEntitlementsRequestBody
    CreditUsageAggregation:
      type: object
      properties:
        usage_this_billing_period:
          type:
          - number
          - 'null'
          description: Credit usage within the current billing period
        usage_this_calendar_month:
          type:
          - number
          - 'null'
          description: Credit usage within the current calendar month
        usage_this_week:
          type:
          - number
          - 'null'
          description: Credit usage within the current calendar week (Monday to Sunday)
        usage_today:
          type:
          - number
          - 'null'
          description: Credit usage for the current day
      title: CreditUsageAggregation
    LimitTimeSeriesPointResponseData:
      type: object
      properties:
        effective_at:
          type: string
          format: date-time
        is_soft_limit:
          type: boolean
        limit_source:
          $ref: '#/components/schemas/EntitlementType'
        limit_value:
          type:
          - integer
          - 'null'
          format: int64
        plan_id:
          type:
          - string
          - 'null'
        price_behavior:
          allOf:
          - $ref: '#/components/schemas/EntitlementPriceBehavior'
      required:
      - effective_at
      - is_soft_limit
      - limit_source
      title: LimitTimeSeriesPointResponseData
    AccountMemberRole:
      type: string
      enum:
      - admin
      - member
    UpdatePlanEntitlementRequestBody:
      type: object
      properties:
        billing_product_id:
          type:
          - string
          - 'null'
        billing_threshold:
          type:
          - integer
          - 'null'
          format: int64
          maximum: 9999999999999
          minimum: 50
        credit_consumption_rate:
          type:
          - number
          - 'null'
        currency:
          type:
          - string
          - 'null'
        currency_prices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CurrencyPriceRequestBody'
          maxItems: 50
        metric_period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
        metric_period_month_reset:
          allOf:
          - $ref: '#/components/schemas/MetricPeriodMonthReset'
        monthly_metered_price_id:
          type:
          - string
          - 'null'
          deprecated: true
        monthly_price_tiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreatePriceTierRequestBody'
          maxItems: 100
        monthly_unit_price:
          type:
          - integer
          - 'null'
          format: int64
        monthly_unit_price_decimal:
          type:
          - string
          - 'null'
        overage_billing_product_id:
          type:
          - string
          - 'null'
          deprecated: true
        price_behavior:
          allOf:
          - $ref: '#/components/schemas/EntitlementPriceBehavior'
        price_tiers:
          type:
          - array
          - 'null'
          description: Use MonthlyPriceTiers or YearlyPriceTiers instead
          items:
            $ref: '#/components/schemas/CreatePriceTierRequestBody'
          deprecated: true
          maxItems: 100
        soft_limit:
          type:
          - integer
          - 'null'
          format: int64
        tier_mode:
          allOf:
          - $ref: '#/components/schemas/BillingTiersMode'
        value_bool:
          type:
          - boolean
          - 'null'
        value_credit_id:
          type:
          - string
          - 'null'
        value_numeric:
          type:
          - integer
          - 'null'
          format: int64
        value_trait_id:
          type:
          - string
          - 'null'
        value_type:
          $ref: '#/components/schemas/EntitlementValueType'
        yearly_metered_price_id:
          type:
          - string
          - 'null'
          deprecated: true
        yearly_price_tiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreatePriceTierRequestBody'
          maxItems: 100
        yearly_unit_price:
          type:
          - integer
          - 'null'
          format: int64
        yearly_unit_price_decimal:
          type:
          - string
          - 'null'
      required:
      - value_type
      title: UpdatePlanEntitlementRequestBody
    BillingCreditGrantReason:
      type: string
      enum:
      - adjustment
      - billing_credit_auto_topup
      - free
      - plan
      - purchased
    CreditUsage:
      type: object
      properties:
        credit_consumption_rate:
          type:
          - number
          - 'null'
        credit_grant_counts:
          additionalProperties:
            type: number
          type: object
        credit_grant_details:
          type: array
          items:
            $ref: '#/components/schemas/CreditGrantDetail'
          maxItems: 1000
        credit_remaining:
          type:
          - number
          - 'null'
        credit_total:
          type:
          - number
          - 'null'
        credit_type_icon:
          type:
          - string
          - 'null'
        credit_type_name:
          type:
          - string
          - 'null'
        credit_used:
          type:
          - number
          - 'null'
        usage_aggregation:
          $ref: '#/components/schemas/CreditUsageAggregation'
      title: CreditUsage
    SkippedEntitlementErrorResponseData:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: SkippedEntitlementErrorResponseData
    EntityKeyDetailResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        definition:
          $ref: '#/components/schemas/EntityKeyDefinitionResponseData'
        definition_id:
          type: string
        entity_id:
          type: string
        entity_type:
          $ref: '#/components/schemas/EntityType'
        environment_id:
          type: string
        id:
          type: string
        key:
          type: string
        updated_at:
          type: string
          format: date-time
        value:
          type: string
      required:
      - id
      - environment_id
      - definition_id
      - entity_type
      - entity_id
      - key
      - value
      - created_at
      - updated_at
      title: EntityKeyDetailResponseData
    CreatePlanEntitlementRequestBody:
      type: object
      properties:
        billing_product_id:
          type:
          - string
          - 'null'
        billing_threshold:
          type:
          - integer
          - 'null'
          format: int64
          maximum: 9999999999999
          minimum: 50
        credit_consumption_rate:
          type:
          - number
          - 'null'
        currency:
          type:
          - string
          - 'null'
        currency_prices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CurrencyPriceRequestBody'
          maxItems: 50
        feature_id:
          type: string
        metric_period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
        metric_period_month_reset:
          allOf:
          - $ref: '#/components/schemas/MetricPeriodMonthReset'
        monthly_metered_price_id:
          type:
          - string
          - 'null'
          deprecated: true
        monthly_price_tiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreatePriceTierRequestBody'
          maxItems: 100
        monthly_unit_price:
          type:
          - integer
          - 'null'
          format: int64
        monthly_unit_price_decimal:
          type:
          - string
          - 'null'
        overage_billing_product_id:
          type:
          - string
          - 'null'
          deprecated: true
        plan_id:
          type: string
        plan_version_id:
          type:
          - string
          - 'null'
        price_behavior:
          allOf:
          - $ref: '#/components/schemas/EntitlementPriceBehavior'
        price_tiers:
          type:
          - array
          - 'null'
          description: Use MonthlyPriceTiers or YearlyPriceTiers instead
          items:
            $ref: '#/components/schemas/CreatePriceTierRequestBody'
          deprecated: true
          maxItems: 100
        soft_limit:
          type:
          - integer
          - 'null'
          format: int64
        tier_mode:
          allOf:
          - $ref: '#/components/schemas/BillingTiersMode'
        value_bool:
          type:
          - boolean
          - 'null'
        value_credit_id:
          type:
          - string
          - 'null'
        value_numeric:
          type:
          - integer
          - 'null'
          format: int64
        value_trait_id:
          type:
          - string
          - 'null'
        value_type:
          $ref: '#/components/schemas/EntitlementValueType'
        yearly_metered_price_id:
          type:
          - string
          - 'null'
          deprecated: true
        yearly_price_tiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreatePriceTierRequestBody'
          maxItems: 100
        yearly_unit_price:
          type:
          - integer
          - 'null'
          format: int64
        yearly_unit_price_decimal:
          type:
          - string
          - 'null'
      required:
      - plan_id
      - feature_id
      - value_type
      title: CreatePlanEntitlementRequestBody
    UpdateCompanyOverrideRequestBody:
      type: object
      properties:
        credit_consumption_rate:
          type:
          - number
          - 'null'
        expiration_date:
          type:
          - string
          - 'null'
          format: date-time
        metric_period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
        metric_period_month_reset:
          allOf:
          - $ref: '#/components/schemas/MetricPeriodMonthReset'
        note:
          type:
          - string
          - 'null'
        value_bool:
          type:
          - boolean
          - 'null'
        value_credit_id:
          type:
          - string
          - 'null'
        value_numeric:
          type:
          - integer
          - 'null'
          format: int64
        value_trait_id:
          type:
          - string
          - 'null'
        value_type:
          $ref: '#/components/schemas/EntitlementValueType'
      required:
      - value_type
      title: UpdateCompanyOverrideRequestBody
    FlagInPlanResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        default_value:
          type: boolean
        description:
          type: string
        feature:
          $ref: '#/components/schemas/FeatureResponseData'
        feature_id:
          type:
          - string
          - 'null'
        flag_type:
          $ref: '#/components/schemas/FlagType'
        id:
          type: string
        key:
          type: string
        last_checked_at:
          type:
          - string
          - 'null'
          format: date-time
        maintainer_account_member_id:
          type:
          - string
          - 'null'
        name:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDetailResponseData'
          maxItems: 1000
        updated_at:
          type: string
          format: date-time
      required:
      - created_at
      - default_value
      - description
      - flag_type
      - id
      - key
      - name
      - updated_at
      - rules
      title: FlagInPlanResponseData
    ScheduledDowngradeResponseData:
      type: object
      properties:
        currency:
          type: string
        effective_after:
          type: string
          format: date-time
        from_plan_id:
          type: string
        from_plan_name:
          type: string
        from_subscription_price:
          type: integer
          format: int64
        id:
          type: string
        interval:
          type: string
        scheduled_interval:
          type:
          - string
          - 'null'
        scheduled_price:
          type:
          - integer
          - 'null'
          format: int64
        to_plan_id:
          type: string
        to_plan_name:
          type: string
      required:
      - currency
      - effective_after
      - from_plan_id
      - from_plan_name
      - from_subscription_price
      - id
      - interval
      - to_plan_id
      - to_plan_name
      title: ScheduledDowngradeResponseData
    TraitType:
      type: string
      enum:
      - boolean
      - currency
      - date
      - number
      - string
      - url
    EntityType:
      type: string
      enum:
      - company
      - user
    RuleConditionDetailResponseData:
      type: object
      properties:
        comparison_trait:
          $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
        comparison_trait_id:
          type:
          - string
          - 'null'
        condition_group_id:
          type:
          - string
          - 'null'
        condition_type:
          $ref: '#/components/schemas/ConditionType'
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        event_subtype:
          type:
          - string
          - 'null'
        flag_id:
          type:
          - string
          - 'null'
        id:
          type: string
        metric_period:
          allOf:
          - $ref: '#/components/schemas/MetricPeriod'
        metric_period_month_reset:
          allOf:
          - $ref: '#/components/schemas/MetricPeriodMonthReset'
        metric_value:
          type:
          - integer
          - 'null'
          format: int64
        operator:
          $ref: '#/components/schemas/ComparableOperator'
        resource_ids:
          type: array
          items:
            type: string
          maxItems: 1000
        resources:
          type: array
          items:
            $ref: '#/components/schemas/PreviewObjectResponseData'
          maxItems: 1000
        rule_id:
          type: string
        trait:
          $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
        trait_entity_type:
          allOf:
          - $ref: '#/components/schemas/EntityType'
        trait_id:
          type:
          - string
          - 'null'
        trait_value:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - environment_id
      - rule_id
      - condition_type
      - operator
      - created_at
      - updated_at
      - resource_ids
      - trait_value
      - resources
      title: RuleConditionDetailResponseData
    AccountMemberPermission:
      type: string
      enum:
      - billing_credits_edit
      - companies_edit
      - company_users_edit
      - components_edit
      - data_exports_edit
      - features_edit
      - flag_rules_edit
      - flags_edit
      - overrides_edit
      - plan_billing_edit
      - plan_entitlements_edit
      - plan_versions_edit
      - plans_edit
      - webhooks_edit
      - webhooks_reveal_secret
    DuplicatePlanEntitlementsResponseResponseData:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlanEntitlementResponseData'
          maxItems: 1000
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/SkippedEntitlementResponseData'
          maxItems: 1000
      required:
      - data
      - skipped
      title: DuplicatePlanEntitlementsResponseResponseData
    RuleConditionGroupDetailResponseData:
      type: object
      properties:
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/RuleConditionDetailResponseData'
          maxItems: 1000
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        flag_id:
          type:
          - string
          - 'null'
        id:
          type: string
        rule_id:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - environment_id
      - rule_id
      - created_at
      - updated_at
      - conditions
      title: RuleConditionGroupDetailResponseData
    CountResponse:
      type: object
      properties:
        count:
          type: integer
          description: The number of resources
    CreateCompanyOverrideRequestBody:
      type: object
      properties:
        company_id:
[...]
