openapi: 3.2.0
info:
  title: Schematic accesstokens Companies API
  version: '0.1'
  description: Schematic API
  x-rules-engine-schema-version: v97288f60
servers:
- url: https://api.schematichq.com
security:
- ApiKeyAuth: []
tags:
- name: companies
paths:
  /companies:
    get:
      operationId: listCompanies
      summary: List companies
      tags:
      - companies
      parameters:
      - name: credit_type_ids
        in: query
        description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
        schema:
          type: array
          description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
          items:
            type: string
          maxItems: 100
      - name: has_scheduled_downgrade
        in: query
        description: Filter companies that have a pending scheduled downgrade
        schema:
          type: boolean
          description: Filter companies that have a pending scheduled downgrade
      - name: ids
        in: query
        description: Filter companies by multiple company IDs (starts with comp_)
        schema:
          type: array
          description: Filter companies by multiple company IDs (starts with comp_)
          items:
            type: string
          maxItems: 100
      - name: monetized_subscriptions
        in: query
        description: Filter companies that have monetized subscriptions
        schema:
          type: boolean
          description: Filter companies that have monetized subscriptions
      - name: plan_id
        in: query
        description: Filter companies by plan ID (starts with plan_)
        schema:
          type: string
          description: Filter companies by plan ID (starts with plan_)
      - name: plan_ids
        in: query
        description: Filter companies by one or more plan IDs (each ID starts with plan_)
        schema:
          type: array
          description: Filter companies by one or more plan IDs (each ID starts with plan_)
          items:
            type: string
          maxItems: 100
      - name: plan_version_id
        in: query
        description: Filter companies by plan version ID (starts with plvr_)
        schema:
          type: string
          description: Filter companies by plan version ID (starts with plvr_)
      - name: q
        in: query
        description: Search for companies by name, keys or string traits
        schema:
          type: string
          description: Search for companies by name, keys or string traits
          maxLength: 512
      - name: sort_order_column
        in: query
        description: Column to sort by (e.g. name, created_at, last_seen_at)
        schema:
          type: string
          description: Column to sort by (e.g. name, created_at, last_seen_at)
          maxLength: 255
      - name: sort_order_direction
        in: query
        description: Direction to sort by (asc or desc)
        schema:
          allOf:
          - $ref: '#/components/schemas/SortDirection'
          description: Direction to sort by (asc or desc)
      - name: subscription_statuses
        in: query
        description: Filter companies by one or more subscription statuses
        schema:
          type: array
          description: Filter companies by one or more subscription statuses
          items:
            $ref: '#/components/schemas/SubscriptionStatus'
          maxItems: 100
      - name: subscription_types
        in: query
        description: Filter companies by one or more subscription types
        schema:
          type: array
          description: Filter companies by one or more subscription types
          items:
            $ref: '#/components/schemas/SubscriptionType'
          maxItems: 100
      - name: with_entitlement_for
        in: query
        description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
        schema:
          type: string
          description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
      - name: without_feature_override_for
        in: query
        description: Filter out companies that already have a company override for the specified feature ID
        schema:
          type: string
          description: Filter out companies that already have a company override for the specified feature ID
      - name: without_plan
        in: query
        description: Filter out companies that have a plan
        schema:
          type: boolean
          description: Filter out companies that have a plan
      - name: without_subscription
        in: query
        description: Filter out companies that have a subscription
        schema:
          type: boolean
          description: Filter out companies that have a subscription
      - name: with_subscription
        in: query
        description: Filter companies that have a subscription
        schema:
          type: boolean
          description: Filter companies that have a subscription
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyDetailResponseData'
                    title: ListCompaniesResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      credit_type_ids:
                        type: array
                        description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
                        items:
                          type: string
                        maxItems: 100
                      has_scheduled_downgrade:
                        type: boolean
                        description: Filter companies that have a pending scheduled downgrade
                      ids:
                        type: array
                        description: Filter companies by multiple company IDs (starts with comp_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      monetized_subscriptions:
                        type: boolean
                        description: Filter companies that have monetized subscriptions
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter companies by plan ID (starts with plan_)
                      plan_ids:
                        type: array
                        description: Filter companies by one or more plan IDs (each ID starts with plan_)
                        items:
                          type: string
                        maxItems: 100
                      plan_version_id:
                        type: string
                        description: Filter companies by plan version ID (starts with plvr_)
                      q:
                        type: string
                        description: Search for companies by name, keys or string traits
                        maxLength: 512
                      sort_order_column:
                        type: string
                        description: Column to sort by (e.g. name, created_at, last_seen_at)
                        maxLength: 255
                      sort_order_direction:
                        allOf:
                        - $ref: '#/components/schemas/SortDirection'
                        description: Direction to sort by (asc or desc)
                      subscription_statuses:
                        type: array
                        description: Filter companies by one or more subscription statuses
                        items:
                          $ref: '#/components/schemas/SubscriptionStatus'
                        maxItems: 100
                      subscription_types:
                        type: array
                        description: Filter companies by one or more subscription types
                        items:
                          $ref: '#/components/schemas/SubscriptionType'
                        maxItems: 100
                      with_entitlement_for:
                        type: string
                        description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
                      with_subscription:
                        type: boolean
                        description: Filter companies that have a subscription
                      without_feature_override_for:
                        type: string
                        description: Filter out companies that already have a company override for the specified feature ID
                      without_plan:
                        type: boolean
                        description: Filter out companies that have a plan
                      without_subscription:
                        type: boolean
                        description: Filter out companies that have a subscription
                    title: ListCompaniesParams
                required:
                - data
                - params
                title: ListCompaniesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: upsertCompany
      summary: Upsert company
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertCompanyParams
                required:
                - data
                - params
                title: UpsertCompanyResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/{company_id}:
    get:
      operationId: getCompany
      summary: Get company
      tags:
      - companies
      parameters:
      - name: company_id
        in: path
        description: company_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetCompanyParams
                required:
                - data
                - params
                title: GetCompanyResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteCompany
      summary: Delete company
      tags:
      - companies
      parameters:
      - name: company_id
        in: path
        description: company_id
        required: true
        schema:
          type: string
      - name: cancel_subscription
        in: query
        schema:
          type: boolean
      - name: prorate
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeleteResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      cancel_subscription:
                        type: boolean
                      prorate:
                        type: boolean
                    title: DeleteCompanyParams
                required:
                - data
                - params
                title: DeleteCompanyResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/count:
    get:
      operationId: countCompanies
      summary: Count companies
      tags:
      - companies
      parameters:
      - name: credit_type_ids
        in: query
        description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
        schema:
          type: array
          description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
          items:
            type: string
          maxItems: 100
      - name: has_scheduled_downgrade
        in: query
        description: Filter companies that have a pending scheduled downgrade
        schema:
          type: boolean
          description: Filter companies that have a pending scheduled downgrade
      - name: ids
        in: query
        description: Filter companies by multiple company IDs (starts with comp_)
        schema:
          type: array
          description: Filter companies by multiple company IDs (starts with comp_)
          items:
            type: string
          maxItems: 100
      - name: monetized_subscriptions
        in: query
        description: Filter companies that have monetized subscriptions
        schema:
          type: boolean
          description: Filter companies that have monetized subscriptions
      - name: plan_id
        in: query
        description: Filter companies by plan ID (starts with plan_)
        schema:
          type: string
          description: Filter companies by plan ID (starts with plan_)
      - name: plan_ids
        in: query
        description: Filter companies by one or more plan IDs (each ID starts with plan_)
        schema:
          type: array
          description: Filter companies by one or more plan IDs (each ID starts with plan_)
          items:
            type: string
          maxItems: 100
      - name: plan_version_id
        in: query
        description: Filter companies by plan version ID (starts with plvr_)
        schema:
          type: string
          description: Filter companies by plan version ID (starts with plvr_)
      - name: q
        in: query
        description: Search for companies by name, keys or string traits
        schema:
          type: string
          description: Search for companies by name, keys or string traits
          maxLength: 512
      - name: sort_order_column
        in: query
        description: Column to sort by (e.g. name, created_at, last_seen_at)
        schema:
          type: string
          description: Column to sort by (e.g. name, created_at, last_seen_at)
          maxLength: 255
      - name: sort_order_direction
        in: query
        description: Direction to sort by (asc or desc)
        schema:
          allOf:
          - $ref: '#/components/schemas/SortDirection'
          description: Direction to sort by (asc or desc)
      - name: subscription_statuses
        in: query
        description: Filter companies by one or more subscription statuses
        schema:
          type: array
          description: Filter companies by one or more subscription statuses
          items:
            $ref: '#/components/schemas/SubscriptionStatus'
          maxItems: 100
      - name: subscription_types
        in: query
        description: Filter companies by one or more subscription types
        schema:
          type: array
          description: Filter companies by one or more subscription types
          items:
            $ref: '#/components/schemas/SubscriptionType'
          maxItems: 100
      - name: with_entitlement_for
        in: query
        description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
        schema:
          type: string
          description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
      - name: without_feature_override_for
        in: query
        description: Filter out companies that already have a company override for the specified feature ID
        schema:
          type: string
          description: Filter out companies that already have a company override for the specified feature ID
      - name: without_plan
        in: query
        description: Filter out companies that have a plan
        schema:
          type: boolean
          description: Filter out companies that have a plan
      - name: without_subscription
        in: query
        description: Filter out companies that have a subscription
        schema:
          type: boolean
          description: Filter out companies that have a subscription
      - name: with_subscription
        in: query
        description: Filter companies that have a subscription
        schema:
          type: boolean
          description: Filter companies that have a subscription
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      credit_type_ids:
                        type: array
                        description: Filter companies by one or more credit type IDs (each ID starts with bcrd_)
                        items:
                          type: string
                        maxItems: 100
                      has_scheduled_downgrade:
                        type: boolean
                        description: Filter companies that have a pending scheduled downgrade
                      ids:
                        type: array
                        description: Filter companies by multiple company IDs (starts with comp_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      monetized_subscriptions:
                        type: boolean
                        description: Filter companies that have monetized subscriptions
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter companies by plan ID (starts with plan_)
                      plan_ids:
                        type: array
                        description: Filter companies by one or more plan IDs (each ID starts with plan_)
                        items:
                          type: string
                        maxItems: 100
                      plan_version_id:
                        type: string
                        description: Filter companies by plan version ID (starts with plvr_)
                      q:
                        type: string
                        description: Search for companies by name, keys or string traits
                        maxLength: 512
                      sort_order_column:
                        type: string
                        description: Column to sort by (e.g. name, created_at, last_seen_at)
                        maxLength: 255
                      sort_order_direction:
                        allOf:
                        - $ref: '#/components/schemas/SortDirection'
                        description: Direction to sort by (asc or desc)
                      subscription_statuses:
                        type: array
                        description: Filter companies by one or more subscription statuses
                        items:
                          $ref: '#/components/schemas/SubscriptionStatus'
                        maxItems: 100
                      subscription_types:
                        type: array
                        description: Filter companies by one or more subscription types
                        items:
                          $ref: '#/components/schemas/SubscriptionType'
                        maxItems: 100
                      with_entitlement_for:
                        type: string
                        description: Filter companies that have an entitlement (plan entitlement or company override) for the specified feature ID
                      with_subscription:
                        type: boolean
                        description: Filter companies that have a subscription
                      without_feature_override_for:
                        type: string
                        description: Filter out companies that already have a company override for the specified feature ID
                      without_plan:
                        type: boolean
                        description: Filter out companies that have a plan
                      without_subscription:
                        type: boolean
                        description: Filter out companies that have a subscription
                    title: CountCompaniesParams
                required:
                - data
                - params
                title: CountCompaniesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/create:
    post:
      operationId: createCompany
      summary: Create company
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyRequestBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: CreateCompanyParams
                required:
                - data
                - params
                title: CreateCompanyResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/delete:
    post:
      operationId: deleteCompanyByKeys
      summary: Delete company by keys
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeysRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteCompanyByKeysParams
                required:
                - data
                - params
                title: DeleteCompanyByKeysResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /companies/lookup:
    get:
      operationId: lookupCompany
      summary: Lookup company
      tags:
      - companies
      parameters:
      - name: keys
        in: query
        description: Key/value pairs
        required: true
        schema:
          additionalProperties:
            type: string
          type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      keys:
                        additionalProperties:
                          type: string
                        type: object
                    title: LookupCompanyParams
                required:
                - data
                - params
                title: LookupCompanyResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-memberships:
    get:
      operationId: listCompanyMemberships
      summary: List company memberships
      tags:
      - companies
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
      - name: user_id
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyMembershipDetailResponseData'
                    title: ListCompanyMembershipsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      user_id:
                        type: string
                    title: ListCompanyMembershipsParams
                required:
                - data
                - params
                title: ListCompanyMembershipsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: getOrCreateCompanyMembership
      summary: Get or create company membership
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrCreateCompanyMembershipRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyMembershipDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetOrCreateCompanyMembershipParams
                required:
                - data
                - params
                title: GetOrCreateCompanyMembershipResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-memberships/{company_membership_id}:
    delete:
      operationId: deleteCompanyMembership
      summary: Delete company membership
      tags:
      - companies
      parameters:
      - name: company_membership_id
        in: path
        description: company_membership_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeleteResponse'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteCompanyMembershipParams
                required:
                - data
                - params
                title: DeleteCompanyMembershipResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-subscriptions:
    get:
      operationId: getActiveCompanySubscription
      summary: Get active company subscription
      tags:
      - companies
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
      - name: company_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanySubscriptionResponseData'
                    title: GetActiveCompanySubscriptionResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                      company_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                    title: GetActiveCompanySubscriptionParams
                required:
                - data
                - params
                title: GetActiveCompanySubscriptionResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /company-traits:
    post:
      operationId: upsertCompanyTrait
      summary: Upsert company trait
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertTraitRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertCompanyTraitParams
                required:
                - data
                - params
                title: UpsertCompanyTraitResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-key-definitions:
    get:
      operationId: listEntityKeyDefinitions
      summary: List entity key definitions
      tags:
      - companies
      parameters:
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntityKeyDefinitionResponseData'
                    title: ListEntityKeyDefinitionsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      entity_type:
                        $ref: '#/components/schemas/EntityType'
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: ListEntityKeyDefinitionsParams
                required:
                - data
                - params
                title: ListEntityKeyDefinitionsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-key-definitions/count:
    get:
      operationId: countEntityKeyDefinitions
      summary: Count entity key definitions
      tags:
      - companies
      parameters:
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      entity_type:
                        $ref: '#/components/schemas/EntityType'
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: CountEntityKeyDefinitionsParams
                required:
                - data
                - params
                title: CountEntityKeyDefinitionsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-trait-definitions:
    get:
      operationId: listEntityTraitDefinitions
      summary: List entity trait definitions
      tags:
      - companies
      parameters:
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        schema:
          type: string
      - name: trait_type
        in: query
        schema:
          $ref: '#/components/schemas/TraitType'
      - name: trait_types
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TraitType'
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                    title: ListEntityTraitDefinitionsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      entity_type:
                        $ref: '#/components/schemas/EntityType'
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                      trait_type:
                        $ref: '#/components/schemas/TraitType'
                      trait_types:
                        type: array
                        items:
                          $ref: '#/components/schemas/TraitType'
                        maxItems: 100
                    title: ListEntityTraitDefinitionsParams
                required:
                - data
                - params
                title: ListEntityTraitDefinitionsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: getOrCreateEntityTraitDefinition
      summary: Get or create entity trait definition
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityTraitDefinitionRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetOrCreateEntityTraitDefinitionParams
                required:
                - data
                - params
                title: GetOrCreateEntityTraitDefinitionResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-trait-definitions/{entity_trait_definition_id}:
    get:
      operationId: getEntityTraitDefinition
      summary: Get entity trait definition
      tags:
      - companies
      parameters:
      - name: entity_trait_definition_id
        in: path
        description: entity_trait_definition_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetEntityTraitDefinitionParams
                required:
                - data
                - params
                title: GetEntityTraitDefinitionResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      operationId: updateEntityTraitDefinition
      summary: Update entity trait definition
      tags:
      - companies
      parameters:
      - name: entity_trait_definition_id
        in: path
        description: entity_trait_definition_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTraitDefinitionRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpdateEntityTraitDefinitionParams
                required:
                - data
                - params
                title: UpdateEntityTraitDefinitionResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-trait-definitions/count:
    get:
      operationId: countEntityTraitDefinitions
      summary: Count entity trait definitions
      tags:
      - companies
      parameters:
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: q
        in: query
        schema:
          type: string
      - name: trait_type
        in: query
        schema:
          $ref: '#/components/schemas/TraitType'
      - name: trait_types
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TraitType'
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      entity_type:
                        $ref: '#/components/schemas/EntityType'
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                      trait_type:
                        $ref: '#/components/schemas/TraitType'
                      trait_types:
                        type: array
                        items:
                          $ref: '#/components/schemas/TraitType'
                        maxItems: 100
                    title: CountEntityTraitDefinitionsParams
                required:
                - data
                - params
                title: CountEntityTraitDefinitionsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /entity-trait-values:
    get:
      operationId: getEntityTraitValues
      summary: Get entity trait values
      tags:
      - companies
      parameters:
      - name: definition_id
        in: query
        required: true
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntityTraitValue'
                    title: GetEntityTraitValuesResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      definition_id:
                        type: string
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      q:
                        type: string
                    title: GetEntityTraitValuesParams
                required:
                - data
                - params
                title: GetEntityTraitValuesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-changes:
    get:
      operationId: listPlanChanges
      summary: List plan changes
      tags:
      - companies
      parameters:
      - name: action
        in: query
        schema:
          $ref: '#/components/schemas/PlanChangeAction'
      - name: base_plan_action
        in: query
        schema:
          $ref: '#/components/schemas/PlanChangeBasePlanAction'
      - name: company_id
        in: query
        schema:
          type: string
      - name: company_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: plan_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlanChangeResponseData'
                    title: ListPlanChangesResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      action:
                        $ref: '#/components/schemas/PlanChangeAction'
                      base_plan_action:
                        $ref: '#/components/schemas/PlanChangeBasePlanAction'
                      company_id:
                        type: string
                      company_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                    title: ListPlanChangesParams
                required:
                - data
                - params
                title: ListPlanChangesResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-changes/{plan_change_id}:
    get:
      operationId: getPlanChange
      summary: Get plan change
      tags:
      - companies
      parameters:
      - name: plan_change_id
        in: path
        description: plan_change_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlanChangeResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetPlanChangeParams
                required:
                - data
                - params
                title: GetPlanChangeResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-traits:
    get:
      operationId: listPlanTraits
      summary: List plan traits
      tags:
      - companies
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        schema:
          type: string
      - name: trait_id
        in: query
        schema:
          type: string
      - name: trait_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlanTraitResponseData'
                    title: ListPlanTraitsResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                      trait_id:
                        type: string
                      trait_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                    title: ListPlanTraitsParams
                required:
                - data
                - params
                title: ListPlanTraitsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-traits/{plan_trait_id}:
    get:
      operationId: getPlanTrait
      summary: Get plan trait
      tags:
      - companies
      parameters:
      - name: plan_trait_id
        in: path
        description: plan_trait_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlanTraitResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetPlanTraitParams
                required:
                - data
                - params
                title: GetPlanTraitResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-traits/bulk:
    post:
      operationId: updatePlanTraitsBulk
      summary: Update plan traits bulk
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanTraitBulkRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlanTraitResponseData'
                    title: UpdatePlanTraitsBulkResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    title: UpdatePlanTraitsBulkParams
                required:
                - data
                - params
                title: UpdatePlanTraitsBulkResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /plan-traits/count:
    get:
      operationId: countPlanTraits
      summary: Count plan traits
      tags:
      - companies
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        schema:
          type: string
      - name: trait_id
        in: query
        schema:
          type: string
      - name: trait_ids
        in: query
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                      trait_id:
                        type: string
                      trait_ids:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                    title: CountPlanTraitsParams
                required:
                - data
                - params
                title: CountPlanTraitsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /user-traits:
    post:
      operationId: upsertUserTrait
      summary: Upsert user trait
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertTraitRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertUserTraitParams
                required:
                - data
                - params
                title: UpsertUserTraitResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users:
    get:
      operationId: listUsers
      summary: List users
      tags:
      - companies
      parameters:
      - name: company_id
        in: query
        description: Filter users by company ID (starts with comp_)
        schema:
          type: string
          description: Filter users by company ID (starts with comp_)
      - name: ids
        in: query
        description: Filter users by multiple user IDs (starts with user_)
        schema:
          type: array
          description: Filter users by multiple user IDs (starts with user_)
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        description: Filter users by plan ID (starts with plan_)
        schema:
          type: string
          description: Filter users by plan ID (starts with plan_)
      - name: q
        in: query
        description: Search for users by name, keys or string traits
        schema:
          type: string
          description: Search for users by name, keys or string traits
          maxLength: 512
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserDetailResponseData'
                    title: ListUsersResponseData
                    maxItems: 250
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                        description: Filter users by company ID (starts with comp_)
                      ids:
                        type: array
                        description: Filter users by multiple user IDs (starts with user_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter users by plan ID (starts with plan_)
                      q:
                        type: string
                        description: Search for users by name, keys or string traits
                        maxLength: 512
                    title: ListUsersParams
                required:
                - data
                - params
                title: ListUsersResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: upsertUser
      summary: Upsert user
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertUserRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: UpsertUserParams
                required:
                - data
                - params
                title: UpsertUserResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/{user_id}:
    get:
      operationId: getUser
      summary: Get user
      tags:
      - companies
      parameters:
      - name: user_id
        in: path
        description: user_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: GetUserParams
                required:
                - data
                - params
                title: GetUserResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteUser
      summary: Delete user
      tags:
      - companies
      parameters:
      - name: user_id
        in: path
        description: user_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeleteResponse'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteUserParams
                required:
                - data
                - params
                title: DeleteUserResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/count:
    get:
      operationId: countUsers
      summary: Count users
      tags:
      - companies
      parameters:
      - name: company_id
        in: query
        description: Filter users by company ID (starts with comp_)
        schema:
          type: string
          description: Filter users by company ID (starts with comp_)
      - name: ids
        in: query
        description: Filter users by multiple user IDs (starts with user_)
        schema:
          type: array
          description: Filter users by multiple user IDs (starts with user_)
          items:
            type: string
          maxItems: 100
      - name: plan_id
        in: query
        description: Filter users by plan ID (starts with plan_)
        schema:
          type: string
          description: Filter users by plan ID (starts with plan_)
      - name: q
        in: query
        description: Search for users by name, keys or string traits
        schema:
          type: string
          description: Search for users by name, keys or string traits
          maxLength: 512
      - name: limit
        in: query
        description: Page limit (default 100)
        schema:
          type: integer
          description: Page limit (default 100)
          format: int64
          example: '100'
      - name: offset
        in: query
        description: Page offset (default 0)
        schema:
          type: integer
          description: Page offset (default 0)
          format: int64
          example: '0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CountResponse'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      company_id:
                        type: string
                        description: Filter users by company ID (starts with comp_)
                      ids:
                        type: array
                        description: Filter users by multiple user IDs (starts with user_)
                        items:
                          type: string
                        maxItems: 100
                      limit:
                        type: integer
                        description: Page limit (default 100)
                        format: int64
                        example: '100'
                      offset:
                        type: integer
                        description: Page offset (default 0)
                        format: int64
                        example: '0'
                      plan_id:
                        type: string
                        description: Filter users by plan ID (starts with plan_)
                      q:
                        type: string
                        description: Search for users by name, keys or string traits
                        maxLength: 512
                    title: CountUsersParams
                required:
                - data
                - params
                title: CountUsersResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/create:
    post:
      operationId: createUser
      summary: Create user
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertUserRequestBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: CreateUserParams
                required:
                - data
                - params
                title: CreateUserResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/delete:
    post:
      operationId: deleteUserByKeys
      summary: Delete user by keys
      tags:
      - companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeysRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResponseData'
                  params:
                    type: object
                    description: Input parameters
                    title: DeleteUserByKeysParams
                required:
                - data
                - params
                title: DeleteUserByKeysResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/lookup:
    get:
      operationId: lookupUser
      summary: Lookup user
      tags:
      - companies
      parameters:
      - name: keys
        in: query
        description: Key/value pairs
        required: true
        schema:
          additionalProperties:
            type: string
          type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetailResponseData'
                  params:
                    type: object
                    description: Input parameters
                    properties:
                      keys:
                        additionalProperties:
                          type: string
                        type: object
                    title: LookupUserParams
                required:
                - data
                - params
                title: LookupUserResponse
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    CompanyMembershipDetailResponseData:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/CompanyResponseData'
        company_id:
          type: string
        created_at:
          type: string
          format: date-time
        id:
          type: string
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
      required:
      - id
      - company_id
      - user_id
      - created_at
      - updated_at
      title: CompanyMembershipDetailResponseData
    CompanyDetailResponseData:
      type: object
      properties:
        add_ons:
          type: array
          items:
            $ref: '#/components/schemas/CompanyPlanWithBillingSubView'
          maxItems: 1000
        billing_credit_balances:
          additionalProperties:
            type: number
          type:
          - object
          - 'null'
        billing_subscription:
          $ref: '#/components/schemas/BillingSubscriptionView'
        billing_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/BillingSubscriptionView'
          maxItems: 1000
        created_at:
          type: string
          format: date-time
        custom_plan_billings:
          type: array
          items:
            $ref: '#/components/schemas/CustomPlanBillingResponseData'
          maxItems: 1000
        default_payment_method:
          $ref: '#/components/schemas/PaymentMethodResponseData'
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/FeatureEntitlement'
          maxItems: 1000
        entity_traits:
          type: array
          items:
            $ref: '#/components/schemas/EntityTraitDetailResponseData'
          maxItems: 1000
        environment_id:
          type: string
        id:
          type: string
        keys:
          type: array
          items:
            $ref: '#/components/schemas/EntityKeyDetailResponseData'
          maxItems: 1000
        last_seen_at:
          type:
          - string
          - 'null'
          format: date-time
        logo_url:
          type:
          - string
          - 'null'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/CompanyEventPeriodMetricsResponseData'
          maxItems: 1000
        name:
          type: string
        payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodResponseData'
          maxItems: 1000
        plan:
          $ref: '#/components/schemas/CompanyPlanWithBillingSubView'
        plans:
          type: array
          items:
            $ref: '#/components/schemas/GenericPreviewObject'
          maxItems: 1000
        rules:
          type: array
          items:
            $ref: '#/components/schemas/Rule'
          maxItems: 1000
        scheduled_downgrade:
          $ref: '#/components/schemas/ScheduledDowngradeResponseData'
        traits:
          type: object
          description: A map of trait names to trait values
        updated_at:
          type: string
          format: date-time
        user_count:
          type: integer
          format: int64
      required:
      - created_at
      - environment_id
      - id
      - name
      - updated_at
      - add_ons
      - billing_subscriptions
      - custom_plan_billings
      - entitlements
      - entity_traits
      - keys
      - metrics
      - payment_methods
      - plans
      - rules
      - user_count
      title: CompanyDetailResponseData
    Rule:
      type: object
      properties:
        account_id:
          type: string
        condition_groups:
          type: array
          items:
            $ref: '#/components/schemas/ConditionGroup'
          maxItems: 1000
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          maxItems: 1000
        environment_id:
          type: string
        flag_id:
          type:
          - string
          - 'null'
        id:
          type: string
        name:
          type: string
        priority:
          type: integer
          format: int64
        rule_type:
          $ref: '#/components/schemas/RuleType'
        value:
          type: boolean
      required:
      - id
      - account_id
      - environment_id
      - rule_type
      - name
      - priority
      - conditions
      - condition_groups
      - value
      title: Rule
    KeysRequestBody:
      type: object
      properties:
        keys:
          additionalProperties:
            type: string
          type: object
      required:
      - keys
      title: KeysRequestBody
    CustomPlanBillingResponseData:
      type: object
      properties:
        activation_strategy:
          $ref: '#/components/schemas/CustomPlanActivationStrategy'
        company_id:
          type: string
        created_at:
          type: string
          format: date-time
        days_until_due:
          type: integer
          format: int64
        id:
          type: string
        paid_at:
          type:
          - string
          - 'null'
          format: date-time
        plan_id:
          type: string
        published_at:
          type:
          - string
          - 'null'
          format: date-time
        status:
          $ref: '#/components/schemas/CustomPlanBillingStatus'
        stripe_invoice_url:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
      required:
      - activation_strategy
      - company_id
      - created_at
      - days_until_due
      - id
      - plan_id
      - status
      - updated_at
      title: CustomPlanBillingResponseData
    DeleteResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Whether the delete was successful
    SubscriptionStatus:
      type: string
      enum:
      - active
      - canceled
      - expired
      - incomplete
      - incomplete_expired
      - past_due
      - paused
      - trialing
      - unpaid
    CreditCurrencyPrice:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/BillingPriceView'
      required:
      - currency
      title: CreditCurrencyPrice
    SubscriptionTraitUpdate:
      type: object
      properties:
        feature_id:
          type: string
        hierarchy:
          type: array
          items:
            type: string
          maxItems: 1000
        reason:
          type: string
        trait_id:
          type: string
        trait_name:
          type: string
        trait_type:
          $ref: '#/components/schemas/TraitType'
        value:
          type: string
      required:
      - trait_id
      - trait_name
      - hierarchy
      - trait_type
      - value
      - feature_id
      - reason
      title: SubscriptionTraitUpdate
    EnvironmentResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        environment_type:
          $ref: '#/components/schemas/EnvironmentType'
        id:
          type: string
        name:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - environment_type
      - created_at
      - updated_at
      title: EnvironmentResponseData
    UserResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        id:
          type: string
        last_seen_at:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - environment_id
      - name
      - created_at
      - updated_at
      title: UserResponseData
    MetricPeriodMonthReset:
      type: string
      enum:
      - billing_cycle
      - first_of_month
    CustomPlanActivationStrategy:
      type: string
      enum:
      - on_payment
      - on_publish
    BillingPriceView:
      type: object
      properties:
        billing_scheme:
          $ref: '#/components/schemas/BillingPriceScheme'
        created_at:
          type: string
          format: date-time
        currency:
          type: string
        id:
          type: string
        interval:
          $ref: '#/components/schemas/BillingProductPriceInterval'
        is_active:
          type: boolean
        meter_event_name:
          type:
          - string
          - 'null'
        meter_event_payload_key:
          type:
          - string
          - 'null'
        meter_id:
          type:
          - string
          - 'null'
        nickname:
          type:
          - string
          - 'null'
        package_size:
          type: integer
          format: int64
        price:
          type: integer
          format: int64
        price_decimal:
          type:
          - string
          - 'null'
        price_external_id:
          type: string
        price_id:
          type: string
        price_tier:
          type: array
          items:
            $ref: '#/components/schemas/BillingProductPriceTierResponseData'
          maxItems: 100
        product_external_id:
          type: string
        product_id:
          type: string
        product_name:
          type: string
        provider_type:
          $ref: '#/components/schemas/BillingProviderType'
        tiers_mode:
          allOf:
          - $ref: '#/components/schemas/BillingTiersMode'
        updated_at:
          type: string
          format: date-time
        usage_type:
          $ref: '#/components/schemas/BillingPriceUsageType'
      required:
      - id
      - billing_scheme
      - created_at
      - currency
      - interval
      - is_active
      - package_size
      - price
      - price_external_id
      - product_external_id
      - provider_type
      - updated_at
      - usage_type
      - price_id
      - product_id
      - product_name
      - price_tier
      title: BillingPriceView
    BillingCreditRolloverPolicy:
      type: string
      enum:
      - expire
      - none
      - rollover
    PlanTraitResponseData:
      type: object
      properties:
        account_id:
          type: string
        created_at:
          type: string
          format: date-time
        environment_id:
          type: string
        id:
          type: string
        plan_id:
          type: string
        plan_type:
          type: string
        trait_id:
          type: string
        trait_value:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - account_id
      - environment_id
      - plan_id
      - plan_type
      - trait_id
      - trait_value
      - created_at
      - updated_at
      title: PlanTraitResponseData
    BillingSubscriptionView:
      type: object
      properties:
        application_id:
          type:
          - string
          - 'null'
        cancel_at:
          type:
          - integer
          - 'null'
          format: int64
        cancel_at_period_end:
          type: boolean
        company_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        currency:
          type: string
        customer_external_id:
          type: string
        default_payment_method_id:
          type:
          - string
          - 'null'
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/BillingSubscriptionDiscountView'
          maxItems: 1000
        expired_at:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type: string
        interval:
          type: string
        latest_invoice:
          $ref: '#/components/schemas/InvoiceResponseData'
        metadata:
          type: object
        payment_method:
          $ref: '#/components/schemas/PaymentMethodResponseData'
        period_end:
          type: integer
          format: int64
        period_start:
          type: integer
          format: int64
        products:
          type: array
          items:
            $ref: '#/components/schemas/BillingProductForSubscriptionResponseData'
          maxItems: 1000
        provider_type:
          $ref: '#/components/schemas/BillingProviderType'
        status:
          type: string
        subscription_external_id:
          type: string
        total_price:
          type: integer
          format: int64
        trial_end:
          type:
          - integer
          - 'null'
          format: int64
        trial_end_setting:
          allOf:
          - $ref: '#/components/schemas/BillingSubscriptionTrialEndSetting'
      required:
      - cancel_at_period_end
      - created_at
      - currency
      - customer_external_id
      - subscription_external_id
      - id
      - interval
      - period_end
      - period_start
      - total_price
      - provider_type
      - status
      - products
      - discounts
      title: BillingSubscriptionView
    SubscriptionType:
      type: string
      enum:
      - free
      - one_time
      - paid
      - trial
    CustomPlanBillingStatus:
      type: string
      enum:
      - active
      - expired
      - paid
      - pending
    EntityTraitDefinitionResponseData:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        display_name:
          type: string
        entity_type:
          $ref: '#/components/schemas/EntityType'
        hierarchy:
          type: array
          items:
            type: string
          maxItems: 1000
        id:
          type: string
        trait_type:
          $ref: '#/components/schemas/TraitType'
        updated_at:
          type: string
          format: date-time
      required:
      - created_at
      - display_name
      - entity_type
      - hierarchy
      - id
      - trait_type
      - updated_at
      title: EntityTraitDefinitionResponseData
    CreateEntityTraitDefinitionRequestBody:
      type: object
      properties:
        display_name:
          type:
          - string
          - 'null'
          maxLength: 255
        entity_type:
          $ref: '#/components/schemas/EntityType'
        hierarchy:
          type: array
          items:
            type: string
          maxItems: 100
        trait_type:
          $ref: '#/components/schemas/TraitType'
      required:
      - entity_type
      - hierarchy
      - trait_type
      title: CreateEntityTraitDefinitionRequestBody
    ComparableOperator:
      type: string
      enum:
      - eq
      - gt
      - gte
      - is_empty
      - lt
      - lte
      - not_empty
      - ne
    PlanChangeBasePlanAction:
      type: string
      enum:
      - fallback
      - initial
      - trait
      - trial_expiry
    PlanCreditGrantView:
      type: object
      properties:
        billing_credit_auto_topup_amount:
          type:
          - integer
          - 'null'
          format: int64
        billing_credit_auto_topup_amount_type:
          type:
          - string
          - 'null'
        billing_credit_auto_topup_enabled:
          type: boolean
        billing_credit_auto_topup_expiry_type:
          allOf:
          - $ref: '#/components/schemas/BillingCreditExpiryType'
        billing_credit_auto_topup_expiry_unit:
          allOf:
          - $ref: '#/components/schemas/BillingCreditExpiryUnit'
        billing_credit_auto_topup_expiry_unit_count:
          type:
[...]
